# PYTHON: PANDAS FUNCTIONS FREQUENTLY USED

By: Hector Alvaro Rojas &nbsp;&nbsp;|&nbsp;&nbsp; Data Science, Visualizations and Applied Statistics &nbsp;&nbsp;|&nbsp;&nbsp; January 06, 2018<br>
    Url: [http://www.arqmain.net]   &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;   GitHub: [https://github.com/arqmain]
    <hr>

## Introduction

In any project aimed at the analysis and modeling of information based on real data, a fundamental step and perhaps one of the most important consists in the initial stages of cleaning and depuration of them. In this context, knowing how to use essential functions of one of the most used Python libraries called Pandas is fundamental.

So things, this project is aimed at covering some of the most frequently used functions of Pandas in the stages of cleaning and debugging the data. Most likely, I do not include more than one function that the reader could consider "important" according to their own experience or opinion. But, nevertheless, it is clear that suffering from the knowledge and functioning of the functions presented here can constitute a serious error.

The functions presented here are the following:
><b>I Introduction</b><br>
><b>II Important Required Packages</b><br>
><b>III Principal Data Frame</b><br>
><b>IV Some Important Pandas Functions</b><br>
>* <b>1 Working directory</b><br>
>* <b>2 Listing files in the directory</b><br>
>* <b>3 Removing objects</b><br>
>* <b>4 Length of data frame</b><br>
>* <b>5 Dimension of data frame</b><br>
>* <b>6 Number of rows and colums</b><br>
>* <b>7 View Top and Bottom N rows</b><br>
>* <b>8 Row and column names of dataframe</b><br>
>* <b>9 Structure of a DataFrame</b><br>
>* <b>10 Rename Variables</b><br>
>* <b>11 Change data type</b><br>
	><i>111 General Case</i><br>
	><i>112 Change to object</i><br>
	><i>113 Change to Categories</i><br>
>* <b>12 Filter Data</b><br>
>* <b>13 Select variables</b><br>
>* <b>14 Drop Variables and Registers</b><br>
	><i>141 Drop Variables (Fields or Columns)</i><br>
	><i>142 Drop Observations (Registers or Rows)</i><br>
>* <b>15 Insert or Create Variables [Columns or Fields]</b><br>
>* <b>16 Summarize dataframe</b><br>
	><i>161 Describing a DataFrame</i><br>
	><i>162 Describe a column DataFrame</i><br>
>* <b>17<i> Random Sampling Dataframe</b><br>
	><i>171 Random number of rows</i><br>
	><i>172 Random percentage of rows</i><br>
	><i>173 Select Random Items</i><br>
>* <b>18 About Missing Values</b><br>
	><i>181 Tell pandas to automatically identify missing values if it knows our missing value marker</i><br>
	><i>182 File without missing observations</i><br>
	><i>183 Fill in missing data with zeros</i><br>
	><i>184 Tell pandas to look for rows with missing values</i><br>
	><i>185 Add new column full of missing values</i><br>
	><i>186 Drop rows where all cells are missing values</i><br>
	><i>187 Drop column if they only contain missing values</i><br>
	><i>188 Drop rows that contain less than k (k<= number of columns) observations</i><br>
	><i>189 Apply per-column the mean of that columns and fill</i><br>
	><i>1810 To fill a particular column with missing values</i><br>
	><i>1811 Fill in missing in column 'two' with each column six’s mean value of 'two'</i><br>
>* <b>19 Sorting</b><br>
	><i>191 Sorting the dataframe’s rows by one column's values</i><br>
	><i>192 Sorting the dataframe’s rows by two or more column's values</i><br>
	><i>193<i> Sorting series list</i><br>

## II Import Required Packages

In [1]:
import os
import pandas as pd
import numpy as np

## III Principal Data Frame

In [2]:
#Use Pandas to get the data active
path = 'mypath'
vehicles = pd.read_csv(os.path.join(path, 'vehicles.csv'))

C:\Users\Alvaro\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2718: DtypeWarning: Columns (70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
select_columns = ['make', 'model', 'year', 'displ', 'cylinders', 'trany', 'drive', 'VClass','fuelType','barrels08', 'city08', 'highway08', 'comb08', 'co2TailpipeGpm', 'fuelCost08']

vehicles = vehicles[select_columns][vehicles.year <= 2016].drop_duplicates().dropna()
vehicles.head(2)
#vehicles = vehicles.sort_values(['make', 'model', 'year'])

,make,model,year,displ,cylinders,trany,drive,VClass,fuelType,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
0,Alfa Romeo,Spider Veloce 2000,1985,2.0,4.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,15.695714,19,25,21,423.190476,1600
1,Ferrari,Testarossa,1985,4.9,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,29.964545,9,14,11,807.909091,3050

## IV Some Important Pandas Functions

### 1 Working directory

In [11]:
#Checking working directory
# import os
os.getcwd()

'C:\\Users\\Alvaro\\Documents\\Python_Projects\\Project1'

In [17]:
#Setting working directory
os.chdir("C:\\Users\\Alvaro\\Documents\\Python_Projects")
#Checking new working directory
os.getcwd()
#Setting original working directory
os.chdir("C:\\Users\\Alvaro\\Documents\\Python_Projects\\Project1")
#Checking if we have come back to the original working directory
os.getcwd()

'C:\\Users\\Alvaro\\Documents\\Python_Projects\\Project1'

## 2 Listing files in the directory

In [18]:
#List files in a directory
os.listdir()

['.ipynb_checkpoints',
 'cat.jpg',
 'cat3.jpg',
 'data',
 'Data_Exploration_Part1.ipynb',
 'Data_Exploration_Part2.ipynb',
 'District Data Labs - Data Exploration with Python, Part 1.html',
 'District Data Labs - Data Exploration with Python, Part 1.pdf',
 'District Data Labs - Data Exploration with Python, Part 1_files',
 'District Data Labs - Data Exploration with Python, Part 2.html',
 'District Data Labs - Data Exploration with Python, Part 2.pdf',
 'District Data Labs - Data Exploration with Python, Part 2_files',
 'District Data Labs - Data Exploration with Python, Part 3.pdf',
 'Download Files with Python.pdf',
 'How do you import data into Python_ – LinearData.pdf',
 'How to download a zip file from a site (python) - Stack Overflow.pdf',
 'How to Download Kaggle Data with Python and requests.pdf',
 'How to read zip file directly in Python_ - tools - Data Science, Analytics and Big Data discussions.pdf',
 'Important_Pandas_Functions.png',
 'Links to Data Exploration stuff.txt',
 'Nueva_carpeta',
 'tutorial-data-manipulation-numpy-pandas-python.html',
 'tutorial-data-manipulation-numpy-pandas-python.pdf',
 'tutorial-data-manipulation-numpy-pandas-python_files',
 'Untitled.ipynb',
 'vehicles.csv',
 'vehicles.zip']

## 3 Removing objects

In [82]:
# Remove an object
## Create an object
df = vehicles
df.head(5)

,make,model,year,displ,cylinders,trany,drive,VClass,fuelType,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
19316,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
19314,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
358,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
369,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
25797,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [93]:
## Remove the object df
del (df)

In [94]:
## To see if df is still alive
df.head(5)

NameError: name 'df' is not defined

In [5]:
## Create df object again
df = vehicles

## 4 Length of data frame

In [4]:
df = vehicles
len(df) #Number of rows

35095

## 5 Dimension of data frame

In [5]:
df = vehicles
df.shape #Number of rows and columns

(35095, 15)

## 6 Number of rows and colums

In [7]:
df = vehicles
df.shape[0] # Number of rows

35095

In [8]:
df.shape[1] # Number of columns

15

## 7 View Top and Bottom N rows

In [9]:
df = vehicles
df.head(5) # View top 5 rows

,make,model,year,displ,cylinders,trany,drive,VClass,fuelType,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
0,Alfa Romeo,Spider Veloce 2000,1985,2.0,4.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,15.695714,19,25,21,423.190476,1600
1,Ferrari,Testarossa,1985,4.9,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,29.964545,9,14,11,807.909091,3050
2,Dodge,Charger,1985,2.2,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.207778,23,33,27,329.148148,1250
3,Dodge,B150/B250 Wagon 2WD,1985,5.2,8.0,Automatic 3-spd,Rear-Wheel Drive,Vans,Regular,29.964545,10,12,11,807.909091,3050
4,Subaru,Legacy AWD Turbo,1993,2.2,4.0,Manual 5-spd,4-Wheel or All-Wheel Drive,Compact Cars,Premium,17.347895,17,23,19,467.736842,2150

In [10]:
df.tail(5) # View tail 5 rows

,make,model,year,displ,cylinders,trany,drive,VClass,fuelType,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
37838,Subaru,Legacy,1993,2.2,4.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Regular,14.982273,19,26,22,403.954545,1500
37839,Subaru,Legacy,1993,2.2,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,14.330870,20,28,23,386.391304,1450
37840,Subaru,Legacy AWD,1993,2.2,4.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,Compact Cars,Regular,15.695714,18,24,21,423.190476,1600
37841,Subaru,Legacy AWD,1993,2.2,4.0,Manual 5-spd,4-Wheel or All-Wheel Drive,Compact Cars,Regular,15.695714,18,24,21,423.190476,1600
37842,Subaru,Legacy AWD Turbo,1993,2.2,4.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,Compact Cars,Premium,18.311667,16,21,18,493.722222,2250

## 8 Row and column names of dataframe

In [11]:
df = vehicles
df.index # View row names

Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            37833, 37834, 37835, 37836, 37837, 37838, 37839, 37840, 37841,
            37842],
           dtype='int64', length=35095)

In [12]:
df.columns # View column names

Index([u'make', u'model', u'year', u'displ', u'cylinders', u'trany', u'drive',
       u'VClass', u'fuelType', u'barrels08', u'city08', u'highway08',
       u'comb08', u'co2TailpipeGpm', u'fuelCost08'],
      dtype='object')

## 9 Structure of a DataFrame

In [13]:
df = vehicles
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35095 entries, 0 to 37842
Data columns (total 15 columns):
make              35095 non-null object
model             35095 non-null object
year              35095 non-null int64
displ             35095 non-null float64
cylinders         35095 non-null float64
trany             35095 non-null object
drive             35095 non-null object
VClass            35095 non-null object
fuelType          35095 non-null object
barrels08         35095 non-null float64
city08            35095 non-null int64
highway08         35095 non-null int64
comb08            35095 non-null int64
co2TailpipeGpm    35095 non-null float64
fuelCost08        35095 non-null int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.3+ MB

## 10 Rename Variables 
<i><font color=blue>R</i></font>: rename(df, newvar = x1)<br>
<i><font color=blue>Python</i></font>: df.rename(columns={'x1': 'newvar'})

In [4]:
# Example 1:
df = vehicles
df = df.rename(columns={'make':'makes'})
df.head(2)

,makes,model,year,displ,cylinders,trany,drive,VClass,fuelType,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
0,Alfa Romeo,Spider Veloce 2000,1985,2.0,4.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,15.695714,19,25,21,423.190476,1600
1,Ferrari,Testarossa,1985,4.9,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,29.964545,9,14,11,807.909091,3050

In [5]:
# Example 2:
df = vehicles
df = df.rename(columns={'make':'makes', 'year':'years'})
df.head(2)

,makes,model,years,displ,cylinders,trany,drive,VClass,fuelType,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
0,Alfa Romeo,Spider Veloce 2000,1985,2.0,4.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,15.695714,19,25,21,423.190476,1600
1,Ferrari,Testarossa,1985,4.9,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,29.964545,9,14,11,807.909091,3050

## 11 Change data type

Data Type in Python is as it follows:
    
><i>For character variable:<b><font color=blue>object</font></b><br>
>For categorical variable: <b><font color=blue>category</font></b><br>
>For Numeric variable without decimals: <b><font color=blue>int64</font></b><br>
>Numeric characters with decimals: <b><font color=blue>float64</font></b><br>
>For date time variables: <b><font color=blue>datetime64</font></b><br></i>

I will use the following dataset to present this item.

In [19]:
mydata = {'col1': ['a', 'b', 'x', 'y', 'z'],
	'col2': ['1', '2', '3', '4', '5'],
	'col3': [4.2, 0.03, 1.5, 2.5, 38],
	's': [1, 2, 4.7, 'pandas', 10],
	'cost' : [1020, 1625.2, 1204,'', 1020],
	'sports' : ['strongly agree', 'disagree', 'agree','strongly disagree', 'agree'],
	'politics' : [3, 0, 2, 2, 4] }
df = pd.DataFrame(mydata)
df.head(5)

  col1 col2   col3    cost  politics       s             sports
0    a    1   4.20    1020         3       1     strongly agree
1    b    2   0.03  1625.2         0       2           disagree
2    x    3   1.50    1204         2     4.7              agree
3    y    4   2.50                 2  pandas  strongly disagree
4    z    5  38.00    1020         4      10              agree

In [20]:
df.dtypes

col1         object
col2         object
col3        float64
cost         object
politics      int64
s            object
sports       object
dtype: object

## 111 General Case

In [ ]:
#Example 1: col2 to numeric

In [21]:
df2 = df # To keep df original stucture

In [22]:
## Using "to_numeric". Individual column / Series.  Change only local not the dataset.
pd.to_numeric(df2.col2)

0    1
1    2
2    3
3    4
4    5
Name: col2, dtype: int64

In [23]:
df2.dtypes

col1         object
col2         object
col3        float64
cost         object
politics      int64
s            object
sports       object
dtype: object

In [11]:
# Using "astype".

In [50]:
df2 = df # To keep df original stucture

In [51]:
df2[['col2']] = df2[['col2']].astype(int)

In [52]:
df2.dtypes

col1         object
col2          int32
col3         object
cost        float64
politics      int64
s           float64
sports       object
dtype: object

In [15]:
# Using a "function".

In [53]:
def coerce_df_columns_to_numeric(df, column_list):
    df[column_list] = df[column_list].apply(pd.to_numeric, errors='coerce')

This function allows more than one column at a time.

In [54]:
df2 = df # To keep df original stucture

In [55]:
coerce_df_columns_to_numeric(df2, ['col2'])

In [56]:
df2.dtypes

col1         object
col2          int32
col3         object
cost        float64
politics      int64
s           float64
sports       object
dtype: object

In [57]:
df2

  col1  col2  col3    cost  politics     s             sports
0    a     1   4.2  1020.0         3   1.0     strongly agree
1    b     2  0.03  1625.2         0   2.0           disagree
2    x     3   1.5  1204.0         2   4.7              agree
3    y     4   2.5     NaN         2   NaN  strongly disagree
4    z     5    38  1020.0         4  10.0              agree

In [ ]:
# Example 2: Various fields to numeric

In [58]:
df2 = df # To keep df original stucture

In [59]:
coerce_df_columns_to_numeric(df2, ['col2', 'cost','s'])

In [60]:
df2.dtypes

col1         object
col2          int32
col3         object
cost        float64
politics      int64
s           float64
sports       object
dtype: object

In [61]:
df2

  col1  col2  col3    cost  politics     s             sports
0    a     1   4.2  1020.0         3   1.0     strongly agree
1    b     2  0.03  1625.2         0   2.0           disagree
2    x     3   1.5  1204.0         2   4.7              agree
3    y     4   2.5     NaN         2   NaN  strongly disagree
4    z     5    38  1020.0         4  10.0              agree

In [ ]:
Note that if the field has some character data then the data is coerce as invalid values to NaN.

### 112 Change to object

In [ ]:
#Example: col3 to object.

In [43]:
df2 = df # To keep df original stucture

In [44]:
df2[['col3']] = df2[['col3']].astype(object)

In [45]:
df2.dtypes # Now col3 is object type.

col1         object
col2          int32
col3         object
cost        float64
politics      int64
s           float64
sports       object
dtype: object

## 113 Change to Categories

In [ ]:
# Example: Fields 'sports' and 'politics' to category

In [85]:
df2 = df # To keep df original stucture
df2.dtypes

col1         object
col2         object
col3        float64
cost         object
politics      int64
s            object
sports       object
dtype: object

In [87]:
df2[['sports', 'politics']] = df2[['sports', 'politics']].apply(lambda x: x.astype('category'))

In [88]:
df2.dtypes # Now 'sports' and 'politics' are category type.

col1          object
col2          object
col3         float64
cost          object
politics    category
s             object
sports      category
dtype: object

## 12 Filter Data

In [4]:
df = vehicles # We come back to our first dataset

In [5]:
df.query('cylinders >= 5').head(5)

,make,model,year,displ,cylinders,trany,drive,VClass,fuelType,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
1,Ferrari,Testarossa,1985,4.9,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,29.964545,9,14,11,807.909091,3050
3,Dodge,B150/B250 Wagon 2WD,1985,5.2,8.0,Automatic 3-spd,Rear-Wheel Drive,Vans,Regular,29.964545,10,12,11,807.909091,3050
14,Dodge,B150/B250 Wagon 2WD,1985,5.2,8.0,Automatic 3-spd,Rear-Wheel Drive,Vans,Regular,25.354615,12,15,13,683.615385,2550
18,Audi,100,1993,2.8,6.0,Automatic 4-spd,Front-Wheel Drive,Midsize Cars,Premium,17.347895,17,22,19,467.736842,2150
19,Audi,100,1993,2.8,6.0,Manual 5-spd,Front-Wheel Drive,Midsize Cars,Premium,17.347895,17,24,19,467.736842,2150

In [29]:
# Both conditions true (& = and)
df1 = df[(df.cylinders >= 5) & (df.displ <= 5)]
df1.head(5)

,make,model,year,displ,cylinders,trany,drive,VClass,fuelType,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
1,Ferrari,Testarossa,1985,4.9,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,29.964545,9,14,11,807.909091,3050
18,Audi,100,1993,2.8,6.0,Automatic 4-spd,Front-Wheel Drive,Midsize Cars,Premium,17.347895,17,22,19,467.736842,2150
19,Audi,100,1993,2.8,6.0,Manual 5-spd,Front-Wheel Drive,Midsize Cars,Premium,17.347895,17,24,19,467.736842,2150
20,BMW,740i,1993,4.0,8.0,Automatic 5-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,20,16,555.437500,2550
21,BMW,740il,1993,4.0,8.0,Automatic 5-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,20,16,555.437500,2550

In [72]:
df.query('(cylinders >= 5) & (displ <= 5)').head(5)

,make,model,year,displ,cylinders,trany,drive,VClass,fuelType,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
19314,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
369,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
25797,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
3681,Acura,2.2CL/3.0CL,1997,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,18,26,20,444.350000,1650
4491,Acura,2.3CL/3.0CL,1998,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,17,26,20,444.350000,1650

In [74]:
df.query('(cylinders >= 5) and (displ <= 5)').head(5)

,make,model,year,displ,cylinders,trany,drive,VClass,fuelType,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
19314,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
369,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
25797,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
3681,Acura,2.2CL/3.0CL,1997,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,18,26,20,444.350000,1650
4491,Acura,2.3CL/3.0CL,1998,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,17,26,20,444.350000,1650

In [27]:
# At least one condition is True(or)
df.query('cylinders >= 5' or 'displ <= 5').head(5)

,make,model,year,displ,cylinders,trany,drive,VClass,fuelType,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
19314,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
369,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
25797,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
3681,Acura,2.2CL/3.0CL,1997,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,18,26,20,444.350000,1650
4491,Acura,2.3CL/3.0CL,1998,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,17,26,20,444.350000,1650

## 13 Select variables

In [4]:
## Create an object
df = vehicles
# Select variables "make" and "cylinders"
df[['make', 'cylinders']].head(5)

         make  cylinders
0  Alfa Romeo        4.0
1     Ferrari       12.0
2       Dodge        4.0
3       Dodge        8.0
4      Subaru        4.0

In [16]:
# Select variable "make" (5 first rows)
df.make.head(5)

19316          AM General
19314          AM General
358            AM General
369            AM General
25797    ASC Incorporated
Name: make, dtype: object

In [20]:
df.loc[:,'make'].head(5)

19316          AM General
19314          AM General
358            AM General
369            AM General
25797    ASC Incorporated
Name: make, dtype: object

In [29]:
# Select variables "make" and "cylinders" (5 first rows)
df.loc[:,['make','displ']].head(5)

                   make  displ
19316        AM General    2.5
19314        AM General    4.2
358          AM General    2.5
369          AM General    4.2
25797  ASC Incorporated    3.8

In [46]:
#Selecting column fourth . Column Index starts from 0.
df.iloc[: , 3].head(5)

19316    2.5
19314    4.2
358      2.5
369      4.2
25797    3.8
Name: displ, dtype: float64

In [50]:
#Selecting column 4,5,6,8 y 10. Column Index starts from 0.
df.iloc[: , [3,4,5,7,9]].head(5)

,displ,cylinders,trany,VClass,barrels08
19316,2.5,4.0,Automatic 3-spd,Special Purpose Vehicle 2WD,19.388824
19314,4.2,6.0,Automatic 3-spd,Special Purpose Vehicle 2WD,25.354615
358,2.5,4.0,Automatic 3-spd,Special Purpose Vehicle 2WD,20.600625
369,4.2,6.0,Automatic 3-spd,Special Purpose Vehicle 2WD,25.354615
25797,3.8,6.0,Automatic 4-spd,Midsize Cars,20.600625

## 14 Drop Variables and Registers

### 141 Drop Variables (Fields or Columns)

In [26]:
df2= df.drop(['displ'],1)
df2.head(2) #df2 does not have 'displ'

,make,model,year,cylinders,trany,drive,VClass,fuelType,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
0,Alfa Romeo,Spider Veloce 2000,1985,4.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,15.695714,19,25,21,423.190476,1600
1,Ferrari,Testarossa,1985,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,29.964545,9,14,11,807.909091,3050

In [27]:
df.head(2) #df still has 'displ'

,make,model,year,displ,cylinders,trany,drive,VClass,fuelType,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
0,Alfa Romeo,Spider Veloce 2000,1985,2.0,4.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,15.695714,19,25,21,423.190476,1600
1,Ferrari,Testarossa,1985,4.9,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,29.964545,9,14,11,807.909091,3050

In [ ]:
# To delete the column without having to reassign df you can do:  df.drop('column_name', axis=1, inplace=True)

In [26]:
df2.drop('make', axis=1, inplace=True)
df2.head(2)#df2 does not has 'make'

,model,year,cylinders,trany,drive,VClass,fuelType,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
19316,DJ Po Vehicle 2WD,1984,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
19314,FJ8c Post Office,1984,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550

In [ ]:
# To drop by column number instead of by column label: df.drop(df.columns[[0, 1, 3]], axis=1)

In [28]:
df2.drop(df2.columns[[0, 1, 3]], axis=1, inplace=True)
df2.head(2) #df2 does not have 'model' (o), 'year' (1), and 'trany' (3) anymore

,cylinders,drive,VClass,fuelType,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
19316,4.0,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
19314,6.0,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550

In [ ]:
# We can use a list to help us.

In [29]:
columns = ['cylinders', 'drive', 'city08']
df2.drop(columns, inplace=True, axis=1)
df2.head(2) # All variables in the columns list are gone.

,VClass,fuelType,barrels08,highway08,comb08,co2TailpipeGpm,fuelCost08
19316,Special Purpose Vehicle 2WD,Regular,19.388824,17,17,522.764706,1950
19314,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,683.615385,2550

### 142 Drop Observations (Registers or Rows)

#### (a) General Case

In [4]:
df2 = vehicles
df2_Initial_Shape = df2.shape
print('df2_Initial_Shape',df2_Initial_Shape) # Files and Columns at the beginning

('df2_Initial_Shape', (35095, 15))

In [5]:
df2 = df2.drop([19316, 19314]) # erase rows 19316 and 19314  (same that df2.drop([19316, 19314]))
df2_Final_Shape = df2.shape
print('df2_Final_Shape',df2_Final_Shape)# Files and Columns after erasing two rows

('df2_Final_Shape', (35093, 15))

In [6]:
df2 = vehicles

In [7]:
df2 = df2.drop([19316, 19314],0) # erase rows 19316 and 19314  (same that df2.drop([19316, 19314],0))
df2_Final_Shape = df2.shape
print('df2_Final_Shape',df2_Final_Shape)# Files and Columns after erasing two rows

('df2_Final_Shape', (35093, 15))

#### (b) Special cases

#### b1 Drop a row if it contains a certain value

In [10]:
df2 = vehicles
# class distribution
print(df2.groupby('cylinders').size())

cylinders
2.0        48
3.0       195
4.0     13109
5.0       723
6.0     12496
8.0      7838
10.0      146
12.0      532
16.0        8
dtype: int64

In [11]:
df2= df2[df2.cylinders != 4] #drop rows with cylinders = 4
# class distribution of 'cylinder' after dropping cylinders = 4
print(df2.groupby('cylinders').size())

cylinders
2.0        48
3.0       195
5.0       723
6.0     12496
8.0      7838
10.0      146
12.0      532
16.0        8
dtype: int64

#### b2 Drop a row by row number

In [23]:
#Example 1:
df2 = vehicles
df2.head(5)

,make,model,year,displ,cylinders,trany,drive,VClass,fuelType,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
0,Alfa Romeo,Spider Veloce 2000,1985,2.0,4.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,15.695714,19,25,21,423.190476,1600
1,Ferrari,Testarossa,1985,4.9,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,29.964545,9,14,11,807.909091,3050
2,Dodge,Charger,1985,2.2,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.207778,23,33,27,329.148148,1250
3,Dodge,B150/B250 Wagon 2WD,1985,5.2,8.0,Automatic 3-spd,Rear-Wheel Drive,Vans,Regular,29.964545,10,12,11,807.909091,3050
4,Subaru,Legacy AWD Turbo,1993,2.2,4.0,Manual 5-spd,4-Wheel or All-Wheel Drive,Compact Cars,Premium,17.347895,17,23,19,467.736842,2150

In [28]:
#Example 2: dropping a range
df2 = vehicles
df2.head(5)

,make,model,year,displ,cylinders,trany,drive,VClass,fuelType,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
0,Alfa Romeo,Spider Veloce 2000,1985,2.0,4.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,15.695714,19,25,21,423.190476,1600
1,Ferrari,Testarossa,1985,4.9,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,29.964545,9,14,11,807.909091,3050
2,Dodge,Charger,1985,2.2,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.207778,23,33,27,329.148148,1250
3,Dodge,B150/B250 Wagon 2WD,1985,5.2,8.0,Automatic 3-spd,Rear-Wheel Drive,Vans,Regular,29.964545,10,12,11,807.909091,3050
4,Subaru,Legacy AWD Turbo,1993,2.2,4.0,Manual 5-spd,4-Wheel or All-Wheel Drive,Compact Cars,Premium,17.347895,17,23,19,467.736842,2150

In [29]:
df2 = df2.drop(df2.index[[2,3]])
df2.head(5)

,make,model,year,displ,cylinders,trany,drive,VClass,fuelType,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
0,Alfa Romeo,Spider Veloce 2000,1985,2.0,4.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,15.695714,19,25,21,423.190476,1600
1,Ferrari,Testarossa,1985,4.9,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,29.964545,9,14,11,807.909091,3050
4,Subaru,Legacy AWD Turbo,1993,2.2,4.0,Manual 5-spd,4-Wheel or All-Wheel Drive,Compact Cars,Premium,17.347895,17,23,19,467.736842,2150
5,Subaru,Loyale,1993,1.8,4.0,Automatic 3-spd,Front-Wheel Drive,Compact Cars,Regular,14.982273,21,24,22,403.954545,1500
6,Subaru,Loyale,1993,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.184400,22,29,25,355.480000,1350

#### b3 Drop relatives positions

In [30]:
#Example 1: 
df2 = vehicles
df2.tail(5)

,make,model,year,displ,cylinders,trany,drive,VClass,fuelType,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
37838,Subaru,Legacy,1993,2.2,4.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Regular,14.982273,19,26,22,403.954545,1500
37839,Subaru,Legacy,1993,2.2,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,14.330870,20,28,23,386.391304,1450
37840,Subaru,Legacy AWD,1993,2.2,4.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,Compact Cars,Regular,15.695714,18,24,21,423.190476,1600
37841,Subaru,Legacy AWD,1993,2.2,4.0,Manual 5-spd,4-Wheel or All-Wheel Drive,Compact Cars,Regular,15.695714,18,24,21,423.190476,1600
37842,Subaru,Legacy AWD Turbo,1993,2.2,4.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,Compact Cars,Premium,18.311667,16,21,18,493.722222,2250

In [31]:
df2 = df2.drop(df2.index[-2]) #Drop second row (37841) from the end. 
df2.tail(5)

,make,model,year,displ,cylinders,trany,drive,VClass,fuelType,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
37837,Saturn,SL,1993,1.9,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.184400,21,32,25,355.480000,1350
37838,Subaru,Legacy,1993,2.2,4.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Regular,14.982273,19,26,22,403.954545,1500
37839,Subaru,Legacy,1993,2.2,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,14.330870,20,28,23,386.391304,1450
37840,Subaru,Legacy AWD,1993,2.2,4.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,Compact Cars,Regular,15.695714,18,24,21,423.190476,1600
37842,Subaru,Legacy AWD Turbo,1993,2.2,4.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,Compact Cars,Premium,18.311667,16,21,18,493.722222,2250

In [32]:
#Example 2: 
df2 = vehicles
df2.tail(5)

,make,model,year,displ,cylinders,trany,drive,VClass,fuelType,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
37838,Subaru,Legacy,1993,2.2,4.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Regular,14.982273,19,26,22,403.954545,1500
37839,Subaru,Legacy,1993,2.2,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,14.330870,20,28,23,386.391304,1450
37840,Subaru,Legacy AWD,1993,2.2,4.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,Compact Cars,Regular,15.695714,18,24,21,423.190476,1600
37841,Subaru,Legacy AWD,1993,2.2,4.0,Manual 5-spd,4-Wheel or All-Wheel Drive,Compact Cars,Regular,15.695714,18,24,21,423.190476,1600
37842,Subaru,Legacy AWD Turbo,1993,2.2,4.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,Compact Cars,Premium,18.311667,16,21,18,493.722222,2250

In [33]:
df2 = df2[:-3] #drop bottom 3 (Erase last 3 rows from the botton)
df2.tail(5)

,make,model,year,displ,cylinders,trany,drive,VClass,fuelType,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
37835,Saturn,SL,1993,1.9,4.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Regular,13.733750,21,30,24,370.291667,1400
37836,Saturn,SL,1993,1.9,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,11.771786,24,33,28,317.392857,1200
37837,Saturn,SL,1993,1.9,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,13.184400,21,32,25,355.480000,1350
37838,Subaru,Legacy,1993,2.2,4.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Regular,14.982273,19,26,22,403.954545,1500
37839,Subaru,Legacy,1993,2.2,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,14.330870,20,28,23,386.391304,1450

In [34]:
#Example 3:
df2 = vehicles
df2.tail(5)

,make,model,year,displ,cylinders,trany,drive,VClass,fuelType,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
37838,Subaru,Legacy,1993,2.2,4.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Regular,14.982273,19,26,22,403.954545,1500
37839,Subaru,Legacy,1993,2.2,4.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,14.330870,20,28,23,386.391304,1450
37840,Subaru,Legacy AWD,1993,2.2,4.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,Compact Cars,Regular,15.695714,18,24,21,423.190476,1600
37841,Subaru,Legacy AWD,1993,2.2,4.0,Manual 5-spd,4-Wheel or All-Wheel Drive,Compact Cars,Regular,15.695714,18,24,21,423.190476,1600
37842,Subaru,Legacy AWD Turbo,1993,2.2,4.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,Compact Cars,Premium,18.311667,16,21,18,493.722222,2250

In [35]:
df2 = df2[:3] #keep top 3 (Keep only the 3 top rows)
df2

,make,model,year,displ,cylinders,trany,drive,VClass,fuelType,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
0,Alfa Romeo,Spider Veloce 2000,1985,2.0,4.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,15.695714,19,25,21,423.190476,1600
1,Ferrari,Testarossa,1985,4.9,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,29.964545,9,14,11,807.909091,3050
2,Dodge,Charger,1985,2.2,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.207778,23,33,27,329.148148,1250

## 15 Insert or Create Variables [Columns or Fields]

In [54]:
# Example 1:
df2 = vehicles
paso = df2.make

In [55]:
df2['paso'] = pd.Series(paso)
df2.head(3) # Variable 'paso' is located in the last column.

,make,model,year,displ,cylinders,trany,drive,VClass,fuelType,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08,paso
0,Alfa Romeo,Spider Veloce 2000,1985,2.0,4.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,15.695714,19,25,21,423.190476,1600,Alfa Romeo
1,Ferrari,Testarossa,1985,4.9,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,29.964545,9,14,11,807.909091,3050,Ferrari
2,Dodge,Charger,1985,2.2,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.207778,23,33,27,329.148148,1250,Dodge

In [44]:
df2.info() # Variable 'paso' is here.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35095 entries, 0 to 37842
Data columns (total 16 columns):
make              35095 non-null object
model             35095 non-null object
year              35095 non-null int64
displ             35095 non-null float64
cylinders         35095 non-null float64
trany             35095 non-null object
drive             35095 non-null object
VClass            35095 non-null object
fuelType          35095 non-null object
barrels08         35095 non-null float64
city08            35095 non-null int64
highway08         35095 non-null int64
comb08            35095 non-null int64
co2TailpipeGpm    35095 non-null float64
fuelCost08        35095 non-null int64
paso              35095 non-null object
dtypes: float64(4), int64(5), object(7)
memory usage: 5.8+ MB

In [56]:
# Example 2:
## Create empty dataframe
df = pd.DataFrame()

# Add (create) the column name
df['name'] = ['Steve', 'Emely', 'Sarah','Rayen']

# View dataframe
df

    name
0  Steve
1  Emely
2  Sarah
3  Rayen

In [57]:
# Add (assign) a new column to df called 'age' with a list of ages
df.assign(age = [31, 32, 19, 45])

    name  age
0  Steve   31
1  Emely   32
2  Sarah   19
3  Rayen   45

## 16 Summarize dataframe

There are many ways to summarize a database.  It will always depend on what are you looking  to do or what are you looking for. Anyway, the most commonly used function is “describe”.  So, I will incorporate some examples of “describe” here.

### 161 Describing a DataFrame

In [ ]:
# Example 1: Full DataFrame. By default only numeric fields are described.

In [5]:
df = vehicles

In [6]:
df.describe()

,year,displ,cylinders,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
count,35095.000000,35095.000000,35095.000000,35095.000000,35095.000000,35095.000000,35095.000000,35095.000000,35095.000000
mean,2000.318763,3.343015,5.766747,17.670948,17.580453,23.788574,19.853255,477.000685,1897.275965
std,9.877432,1.358464,1.749489,4.468803,4.725980,5.864402,5.075383,119.061076,507.200520
min,1984.000000,0.600000,2.000000,0.060000,6.000000,9.000000,7.000000,37.000000,600.000000
25%,1991.000000,2.200000,4.000000,14.982273,15.000000,20.000000,16.000000,403.954545,1500.000000
50%,2001.000000,3.000000,6.000000,17.347895,17.000000,24.000000,19.000000,467.736842,1850.000000
75%,2009.000000,4.300000,6.000000,20.600625,20.000000,27.000000,22.000000,555.437500,2200.000000
max,2016.000000,8.400000,16.000000,47.087143,58.000000,61.000000,56.000000,1269.571429,5800.000000

In [ ]:
# Example 2: Describing all columns of a DataFrame regardless of data type.

In [ ]:
df = vehicles

In [7]:
df.describe(include='all')

,make,model,year,displ,cylinders,trany,drive,VClass,fuelType,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
count,35095,35095,35095.000000,35095.000000,35095.000000,35095,35095,35095,35095,35095.000000,35095.000000,35095.000000,35095.000000,35095.000000,35095.000000
unique,126,3490,NaN,NaN,NaN,44,7,34,13,NaN,NaN,NaN,NaN,NaN,NaN
top,Chevrolet,F150 Pickup 2WD,NaN,NaN,NaN,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Regular,NaN,NaN,NaN,NaN,NaN,NaN
freq,3575,197,NaN,NaN,NaN,10582,12778,5048,23208,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,2000.318763,3.343015,5.766747,NaN,NaN,NaN,NaN,17.670948,17.580453,23.788574,19.853255,477.000685,1897.275965
std,NaN,NaN,9.877432,1.358464,1.749489,NaN,NaN,NaN,NaN,4.468803,4.725980,5.864402,5.075383,119.061076,507.200520
min,NaN,NaN,1984.000000,0.600000,2.000000,NaN,NaN,NaN,NaN,0.060000,6.000000,9.000000,7.000000,37.000000,600.000000
25%,NaN,NaN,1991.000000,2.200000,4.000000,NaN,NaN,NaN,NaN,14.982273,15.000000,20.000000,16.000000,403.954545,1500.000000
50%,NaN,NaN,2001.000000,3.000000,6.000000,NaN,NaN,NaN,NaN,17.347895,17.000000,24.000000,19.000000,467.736842,1850.000000
75%,NaN,NaN,2009.000000,4.300000,6.000000,NaN,NaN,NaN,NaN,20.600625,20.000000,27.000000,22.000000,555.437500,2200.000000
max,NaN,NaN,2016.000000,8.400000,16.000000,NaN,NaN,NaN,NaN,47.087143,58.000000,61.000000,56.000000,1269.571429,5800.000000

In [ ]:
# Example 3: A better way to get the display.  I like this one more always.

In [8]:
df.describe(include='all').T # Better display!  Doesn't it?

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
make,35095,126,Chevrolet,3575,NaN,NaN,NaN,NaN,NaN,NaN,NaN
model,35095,3490,F150 Pickup 2WD,197,NaN,NaN,NaN,NaN,NaN,NaN,NaN
year,35095,NaN,NaN,NaN,2000.32,9.87743,1984,1991,2001,2009,2016
displ,35095,NaN,NaN,NaN,3.34301,1.35846,0.6,2.2,3,4.3,8.4
cylinders,35095,NaN,NaN,NaN,5.76675,1.74949,2,4,6,6,16
trany,35095,44,Automatic 4-spd,10582,NaN,NaN,NaN,NaN,NaN,NaN,NaN
drive,35095,7,Front-Wheel Drive,12778,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VClass,35095,34,Compact Cars,5048,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fuelType,35095,13,Regular,23208,NaN,NaN,NaN,NaN,NaN,NaN,NaN
barrels08,35095,NaN,NaN,NaN,17.6709,4.4688,0.06,14.9823,17.3479,20.6006,47.0871
city08,35095,NaN,NaN,NaN,17.5805,4.72598,6,15,17,20,58
highway08,35095,NaN,NaN,NaN,23.7886,5.8644,9,20,24,27,61
comb08,35095,NaN,NaN,NaN,19.8533,5.07538,7,16,19,22,56
co2TailpipeGpm,35095,NaN,NaN,NaN,477.001,119.061,37,403.955,467.737,555.438,1269.57
fuelCost08,35095,NaN,NaN,NaN,1897.28,507.201,600,1500,1850,2200,5800

In [ ]:
# Example 4: Including only numeric columns in a DataFrame description.

In [12]:
df.describe(include=[np.number]).T

,count,mean,std,min,25%,50%,75%,max
year,35095.0,2000.318763,9.877432,1984.00,1991.000000,2001.000000,2009.000000,2016.000000
displ,35095.0,3.343015,1.358464,0.60,2.200000,3.000000,4.300000,8.400000
cylinders,35095.0,5.766747,1.749489,2.00,4.000000,6.000000,6.000000,16.000000
barrels08,35095.0,17.670948,4.468803,0.06,14.982273,17.347895,20.600625,47.087143
city08,35095.0,17.580453,4.725980,6.00,15.000000,17.000000,20.000000,58.000000
highway08,35095.0,23.788574,5.864402,9.00,20.000000,24.000000,27.000000,61.000000
comb08,35095.0,19.853255,5.075383,7.00,16.000000,19.000000,22.000000,56.000000
co2TailpipeGpm,35095.0,477.000685,119.061076,37.00,403.954545,467.736842,555.437500,1269.571429
fuelCost08,35095.0,1897.275965,507.200520,600.00,1500.000000,1850.000000,2200.000000,5800.000000

In [ ]:
# Example 5: Excluding numeric columns from a DataFrame description.

In [10]:
df.describe(exclude=[np.number]).T

          count unique                top   freq
make      35095    126          Chevrolet   3575
model     35095   3490    F150 Pickup 2WD    197
trany     35095     44    Automatic 4-spd  10582
drive     35095      7  Front-Wheel Drive  12778
VClass    35095     34       Compact Cars   5048
fuelType  35095     13            Regular  23208

In [ ]:
# Example 6: Including only string columns in a DataFrame description.

In [14]:
df.describe(include=[np.object]).T

          count unique                top   freq
make      35095    126          Chevrolet   3575
model     35095   3490    F150 Pickup 2WD    197
trany     35095     44    Automatic 4-spd  10582
drive     35095      7  Front-Wheel Drive  12778
VClass    35095     34       Compact Cars   5048
fuelType  35095     13            Regular  23208

In [18]:
# Example 7: Excluding object columns from a DataFrame description.

In [17]:
df.describe(exclude=[np.object]).T

,count,mean,std,min,25%,50%,75%,max
year,35095.0,2000.318763,9.877432,1984.00,1991.000000,2001.000000,2009.000000,2016.000000
displ,35095.0,3.343015,1.358464,0.60,2.200000,3.000000,4.300000,8.400000
cylinders,35095.0,5.766747,1.749489,2.00,4.000000,6.000000,6.000000,16.000000
barrels08,35095.0,17.670948,4.468803,0.06,14.982273,17.347895,20.600625,47.087143
city08,35095.0,17.580453,4.725980,6.00,15.000000,17.000000,20.000000,58.000000
highway08,35095.0,23.788574,5.864402,9.00,20.000000,24.000000,27.000000,61.000000
comb08,35095.0,19.853255,5.075383,7.00,16.000000,19.000000,22.000000,56.000000
co2TailpipeGpm,35095.0,477.000685,119.061076,37.00,403.954545,467.736842,555.437500,1269.571429
fuelCost08,35095.0,1897.275965,507.200520,600.00,1500.000000,1850.000000,2200.000000,5800.000000

### 162 Describe a column DataFrame

In [ ]:
# Example 1: Describing a column from a DataFrame.

In [33]:
df = vehicles
df['displ'].describe()

count    35095.000000
mean         3.343015
std          1.358464
min          0.600000
25%          2.200000
50%          3.000000
75%          4.300000
max          8.400000
Name: displ, dtype: float64

In [34]:
df.displ.describe() # just another way

count    35095.000000
mean         3.343015
std          1.358464
min          0.600000
25%          2.200000
50%          3.000000
75%          4.300000
max          8.400000
Name: displ, dtype: float64

In [35]:
df.drive.describe() # Object type

count                 35095
unique                    7
top       Front-Wheel Drive
freq                  12778
Name: drive, dtype: object

In [37]:
df.year.describe() # int64 type

count    35095.000000
mean      2000.318763
std          9.877432
min       1984.000000
25%       1991.000000
50%       2001.000000
75%       2009.000000
max       2016.000000
Name: year, dtype: float64

## 17 Random Sampling Dataframe

## 171 Random number of rows

In [70]:
df = vehicles

In [ ]:
# Example 1: Sample with replacement

In [72]:
n = 5
df.sample(n, replace=True) #  Sampling is done with replacement by default, so it could be: df.sample(n)

,make,model,year,displ,cylinders,trany,drive,VClass,fuelType,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
5095,Chevrolet,Astro AWD (cargo),1998,4.3,6.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,"Vans, Cargo Type",Regular,20.600625,14,19,16,555.437500,2100
5641,Bentley,Turbo RT,1999,6.8,8.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,27.467500,10,15,12,740.583333,3400
34692,Dodge,W250 Pickup 4WD,1990,5.2,8.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,Standard Pickup Trucks,Regular,29.964545,10,13,11,807.909091,3050
499,GMC,Safari 2WD (cargo),1993,4.3,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Premium,19.388824,15,21,17,522.764706,2400
4298,Dodge,Caravan/Grand Caravan 2WD,1997,3.3,6.0,Automatic 4-spd,Front-Wheel Drive,Special Purpose Vehicles,Regular,18.311667,16,22,18,493.722222,1850

In [ ]:
# Example 2: Sample without replacement

In [73]:
n = 5
df.sample(n, replace = False)

,make,model,year,displ,cylinders,trany,drive,VClass,fuelType,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
6132,Dodge,Durango 4WD,1999,5.9,8.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,Sport Utility Vehicle - 4WD,Regular,27.467500,11,15,12,740.583333,2800
34668,Chevrolet,K2500 Pickup 4WD,1990,5.7,8.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,Standard Pickup Trucks,Regular,25.354615,11,15,13,683.615385,2550
5443,Mitsubishi,Mirage,1999,1.8,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.184400,23,30,25,355.480000,1350
17362,Lamborghini,Gallardo Coupe,2009,5.2,10.0,Manual 6-spd,4-Wheel or All-Wheel Drive,Two Seaters,Premium,21.974000,12,20,15,592.466667,2700
11659,Mercedes-Benz,SLR,2005,5.4,8.0,Automatic (S5),Rear-Wheel Drive,Two Seaters,Premium,25.354615,12,16,13,683.615385,3100

In [ ]:
# Example 3: Select a random subset of 2 without replacement (Other way)

In [74]:
df = vehicles

In [77]:
df.take(np.random.permutation(len(df))[:2])

,make,model,year,displ,cylinders,trany,drive,VClass,fuelType,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
34292,Chevrolet,Corsica,1990,2.2,4.0,Manual 5-spd,Front-Wheel Drive,Midsize Cars,Regular,13.18440,21,31,25,355.48,1350
29888,Buick,Cascada,2016,1.6,4.0,Automatic (S6),Front-Wheel Drive,Subcompact Cars,Regular,14.33087,20,27,23,393.00,1450

## 172 Random percentage of rows

In [80]:
df = vehicles

In [ ]:
# Example 1: Sample with replacement

In [84]:
df.sample(frac = 0.15, replace=True) #  Sampling is done with replacement by default, so it could be: df.sample(frac = 0.15)

,make,model,year,displ,cylinders,trany,drive,VClass,fuelType,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
839,Honda,Prelude,1994,2.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Premium,15.695714,19,24,21,423.190476,1950
26447,Chevrolet,Sonic RS,2014,1.4,4.0,Automatic (S6),Front-Wheel Drive,Compact Cars,Regular,11.771786,25,33,28,314.000000,1200
10024,Chevrolet,Blazer 2WD,2003,4.3,6.0,Automatic 4-spd,Rear-Wheel Drive,Sport Utility Vehicle - 2WD,Regular,19.388824,15,21,17,522.764706,1950
37194,Chevrolet,G10/20 Van 2WD,1992,4.3,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,20.600625,15,20,16,555.437500,2100
14687,GMC,Canyon 2WD,2007,3.7,5.0,Automatic 4-spd,Rear-Wheel Drive,Standard Pickup Trucks 2WD,Regular,18.311667,15,22,18,493.722222,1850
6616,Saab,9-3,2000,2.0,4.0,Manual 5-spd,Front-Wheel Drive,Midsize Cars,Premium,14.982273,19,27,22,403.954545,1850
12755,Ford,Taurus,1986,2.5,4.0,Automatic 3-spd,Front-Wheel Drive,Midsize Cars,Regular,16.480500,18,24,20,444.350000,1650
31661,Honda,Accord,1988,2.0,4.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Regular,14.982273,20,26,22,403.954545,1500
26395,Dodge,Lancer,1987,2.5,4.0,Manual 5-spd,Front-Wheel Drive,Midsize Cars,Regular,14.330870,19,29,23,386.391304,1450
16256,BMW,650ci,2008,4.8,8.0,Manual 6-spd,Rear-Wheel Drive,Subcompact Cars,Premium,18.311667,15,22,18,493.722222,2250
29089,Chevrolet,Sonic 5 RS,2016,1.4,4.0,Manual 6-spd,Front-Wheel Drive,Midsize Cars,Regular,11.365862,26,34,29,298.000000,1150
21813,BMW,335ci Convertible,2010,3.0,6.0,Automatic (S6),Rear-Wheel Drive,Subcompact Cars,Premium,16.480500,17,26,20,444.350000,2000
21440,Chrysler,Sebring,2010,2.4,4.0,Automatic 4-spd,Front-Wheel Drive,Midsize Cars,Regular,13.733750,21,30,24,370.291667,1400
35320,Toyota,Supra,1991,3.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Subcompact Cars,Premium,18.311667,16,21,18,493.722222,2250
15049,GMC,Sierra K15 4WD,2007,6.0,8.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,Standard Pickup Trucks 4WD,Regular,21.974000,13,17,15,592.466667,2200
15252,BMW,650ci Convertible,2007,4.8,8.0,Automatic (S6),Rear-Wheel Drive,Subcompact Cars,Premium,18.311667,15,23,18,493.722222,2250
15276,Isuzu,i-370 Extended Cab 2WD,2007,3.7,5.0,Automatic 4-spd,Rear-Wheel Drive,Standard Pickup Trucks 2WD,Regular,18.311667,15,22,18,493.722222,1850
22360,Ford,Fusion FWD,2011,3.5,6.0,Automatic (S6),Front-Wheel Drive,Midsize Cars,Regular,15.695714,18,27,21,423.190476,1600
33479,Chevrolet,K2500 Pickup 4WD,1989,5.0,8.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,Standard Pickup Trucks,Regular,23.543571,12,16,14,634.785714,2400
10458,Mitsubishi,Eclipse Spyder,2004,3.0,6.0,Manual 5-spd,Front-Wheel Drive,Minicompact Cars,Premium,15.695714,18,26,21,423.190476,1950
33224,Mazda,323 Wagon,1989,1.6,4.0,Manual 5-spd,Front-Wheel Drive,Small Station Wagons,Regular,12.207778,24,30,27,329.148148,1250
32346,Ford,E150 Econoline 2WD,1988,4.9,6.0,Automatic 3-spd,Rear-Wheel Drive,Vans,Regular,23.543571,14,16,14,634.785714,2400
36909,Mitsubishi,Expo,1992,2.4,4.0,Manual 5-spd,4-Wheel or All-Wheel Drive,Midsize-Large Station Wagons,Regular,17.347895,17,22,19,467.736842,1750
24812,Kia,Forte Koup,2013,2.0,4.0,Manual 6-spd,Front-Wheel Drive,Compact Cars,Regular,11.771786,24,33,28,323.000000,1200
20254,GMC,Vandura G15/25 2WD,1984,4.1,6.0,Automatic 4-spd,2-Wheel Drive,"Vans, Cargo Type",Regular,21.974000,14,17,15,592.466667,2200
25160,MINI,Cooper Clubman,2013,1.6,4.0,Manual 6-spd,Front-Wheel Drive,Subcompact Cars,Premium,10.987000,27,35,30,293.000000,1350
6111,Mercury,Capri,1985,3.8,6.0,Automatic 3-spd,Rear-Wheel Drive,Subcompact Cars,Regular,18.311667,17,20,18,493.722222,1850
25996,Cadillac,Eldorado,1987,4.1,8.0,Automatic 4-spd,Front-Wheel Drive,Midsize Cars,Regular,18.311667,15,23,18,493.722222,1850
7562,Mitsubishi,Galant,2001,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Midsize Cars,Premium,16.480500,17,25,20,444.350000,2000
31510,Plymouth,Colt,1988,1.5,4.0,Automatic 3-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.207778,26,29,27,329.148148,1250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4412,Suzuki,Sidekick Sport 4WD,1997,1.8,4.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,Special Purpose Vehicles,Regular,16.480500,19,22,20,444.350000,1650
5649,Cadillac,Catera,1999,3.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,18.311667,16,23,18,493.722222,2250
22633,Lexus,IS F,2011,5.0,8.0,Automatic (S8),Rear-Wheel Drive,Subcompact Cars,Premium,18.311667,16,23,18,493.722222,2250
36997,Chevrolet,C1500 Pickup 2WD,1992,6.2,8.0,Automatic 4-spd,Rear-Wheel Drive,Standard Pickup Trucks,Diesel,21.232500,16,22,18,565.555556,2000
11893,Ford,Focus,2005,2.0,4.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Regular,13.184400,22,29,25,355.480000,1350
32326,Chevrolet,G10/20 Van 2WD,1988,5.7,8.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,21.974000,14,18,15,592.466667,2200
21749,Cadillac,Escalade 2WD FFV,2010,6.2,8.0,Automatic 6-spd,Rear-Wheel Drive,Sport Utility Vehicle - 2WD,Gasoline or E85,20.600625,14,20,16,555.437500,2100
9718,Lincoln,Town Car,2003,4.6,8.0,Automatic 4-spd,Rear-Wheel Drive,Large Cars,Regular,18.311667,16,23,18,493.722222,1850
22025,Kia,Rio,2011,1.6,4.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Regular,10.987000,27,36,30,296.233333,1100
5386,BMW,M3,1999,3.2,6.0,Manual 5-spd,Rear-Wheel Drive,Subcompact Cars,Regular,16.480500,17,24,20,444.350000,1650
32417,Toyota,Van 2WD (passenger),1988,2.2,4.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,16.480500,19,22,20,444.350000,1650
15538,Porsche,Cayenne S,2008,4.8,8.0,Automatic 6-spd,4-Wheel or All-Wheel Drive,Sport Utility Vehicle - 4WD,Premium,21.974000,13,19,15,592.466667,2700
22771,Ford,Expedition 2WD FFV,2011,5.4,8.0,Automatic 6-spd,Rear-Wheel Drive,Sport Utility Vehicle - 2WD,Gasoline or E85,20.600625,14,20,16,555.437500,2100
27408,Nissan,Sentra Wagon,1987,1.6,4.0,Manual 5-spd,Front-Wheel Drive,Small Station Wagons,Regular,12.207778,24,32,27,329.148148,1250
37543,Dodge,Shadow Convertible,1993,2.5,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.184400,22,29,25,355.480000,1350
22063,Ford,Taurus AWD,2011,3.5,6.0,Automatic 6-spd,All-Wheel Drive,Large Cars,Regular,16.480500,17,25,20,444.350000,1650
36637,Mazda,Protege,1992,1.8,4.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Regular,14.330870,21,26,23,386.391304,1450
35554,Dodge,Dynasty,1991,3.3,6.0,Automatic 4-spd,Front-Wheel Drive,Midsize Cars,Regular,17.347895,17,24,19,467.736842,1750
26431,MINI,Cooper Clubman,2014,1.6,4.0,Manual 6-spd,Front-Wheel Drive,Subcompact Cars,Premium,10.632581,28,35,31,291.000000,1300
31852,Plymouth,Caravelle,1988,2.5,4.0,Automatic 3-spd,Front-Wheel Drive,Midsize Cars,Regular,14.982273,20,26,22,403.954545,1500
9912,Ford,Explorer Sport Trac 4WD,2003,4.0,6.0,Manual 5-spd,4-Wheel or All-Wheel Drive,Standard Pickup Trucks 4WD,Regular,20.600625,15,18,16,555.437500,2100
16520,Hyundai,Santa Fe 4WD,2008,2.7,6.0,Manual 5-spd,4-Wheel or All-Wheel Drive,Sport Utility Vehicle - 4WD,Regular,17.347895,17,23,19,467.736842,1750
5513,BMW,540i,1999,4.4,8.0,Automatic 5-spd,Rear-Wheel Drive,Compact Cars,Regular,18.311667,16,22,18,493.722222,1850
6196,Suzuki,Vitara 2Door 4WD,1999,2.0,4.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,Sport Utility Vehicle - 4WD,Regular,15.695714,20,23,21,423.190476,1600
17655,Nissan,Frontier 2WD,2009,4.0,6.0,Manual 6-spd,Rear-Wheel Drive,Small Pickup Trucks 2WD,Regular,18.311667,16,20,18,493.722222,1850
11457,Oldsmobile,Firenza,1986,2.8,6.0,Manual 4-spd,Front-Wheel Drive,Compact Cars,Regular,17.347895,17,24,19,467.736842,1750
33431,GMC,Sierra 1500 2WD,1989,4.3,6.0,Manual 4-spd,Rear-Wheel Drive,Standard Pickup Trucks,Regular,19.388824,16,20,17,522.764706,1950
9664,Nissan,Maxima,2003,3.5,6.0,Automatic 4-spd,Front-Wheel Drive,Midsize Cars,Regular,16.480500,17,24,20,444.350000,1650
16526,Jeep,Commander 4WD,2008,3.7,6.0,Automatic 5-spd,4-Wheel or All-Wheel Drive,Sport Utility Vehicle - 4WD,Regular,20.600625,14,19,16,555.437500,2100
24864,GMC,Sierra 15 Hybrid 4WD,2013,6.0,8.0,Automatic (variable gear ratios),4-Wheel Drive,Standard Pickup Trucks 4WD,Regular,15.695714,20,23,21,423.000000,1600

In [ ]:
# Example 2: Sample without replacement

In [85]:
df.sample(frac = 0.15, replace=False)

,make,model,year,displ,cylinders,trany,drive,VClass,fuelType,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
22854,Mitsubishi,Tredia,1987,2.0,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,1400
8972,GMC,Yukon XL 1500 2WD,2002,5.3,8.0,Automatic 4-spd,Rear-Wheel Drive,Sport Utility Vehicle - 2WD,Regular,23.543571,13,17,14,634.785714,2400
6301,Ford,Mustang,2000,4.6,8.0,Manual 5-spd,Rear-Wheel Drive,Subcompact Cars,Premium,18.311667,15,23,18,493.722222,2250
25371,Ford,Fusion FWD,2013,2.0,4.0,Automatic (S6),Front-Wheel Drive,Midsize Cars,Regular,12.677308,22,33,26,340.000000,1300
17568,Ferrari,612 Scaglietti,2009,5.7,12.0,Automatic 6-spd,Rear-Wheel Drive,Midsize Cars,Premium,29.964545,9,16,11,807.909091,3700
16701,Saab,9-3 Aero Sedan AWD,2008,2.8,6.0,Manual 6-spd,4-Wheel or All-Wheel Drive,Compact Cars,Premium,17.347895,16,24,19,467.736842,2150
9922,Pontiac,Firebird,1986,5.0,8.0,Automatic 4-spd,Rear-Wheel Drive,Subcompact Cars,Regular,18.311667,15,23,18,493.722222,1850
18459,Chevrolet,Astro 2WD (passenger),1986,2.5,4.0,Manual 4-spd,Rear-Wheel Drive,Vans,Regular,16.480500,18,24,20,444.350000,1650
7837,Dodge,Ram Van 1500 2WD,2001,3.9,6.0,Automatic 3-spd,Rear-Wheel Drive,"Vans, Cargo Type",Regular,23.543571,13,15,14,634.785714,2400
5990,GMC,Savana 1500/2500 2WD (cargo),1999,5.7,8.0,Automatic 4-spd,Rear-Wheel Drive,"Vans, Cargo Type",Regular,23.543571,12,16,14,634.785714,2400
15465,Jaguar,XJR,2008,4.2,8.0,Automatic 6-spd,Rear-Wheel Drive,Large Cars,Premium,18.311667,15,22,18,493.722222,2250
35746,Chevrolet,S10 Pickup 2WD,1991,2.5,4.0,Manual 5-spd,Rear-Wheel Drive,Small Pickup Trucks,Regular,14.982273,21,25,22,403.954545,1500
35821,Dodge,D100/D150 Pickup 2WD,1991,5.2,8.0,Automatic 4-spd,Rear-Wheel Drive,Standard Pickup Trucks,Regular,23.543571,12,17,14,634.785714,2400
17073,Mercedes-Benz,S63 AMG,2009,6.2,8.0,Automatic (S7),Rear-Wheel Drive,Large Cars,Premium,25.354615,11,17,13,683.615385,3100
21619,Pontiac,G6,2009,3.5,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Gasoline or E85,14.330870,19,29,23,386.391304,1450
36410,Geo,Storm,1992,1.6,4.0,Automatic 3-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,1400
34836,Ford,E150 Club Wagon,1990,4.9,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,23.543571,12,16,14,634.785714,2400
11848,Audi,A4 quattro,2005,1.8,4.0,Manual 6-spd,4-Wheel or All-Wheel Drive,Compact Cars,Premium,14.982273,19,27,22,403.954545,1850
6220,BMW,Z8,2000,4.9,8.0,Manual 6-spd,Rear-Wheel Drive,Two Seaters,Premium,21.974000,12,19,15,592.466667,2700
21472,Toyota,Tacoma 4WD,2010,2.7,4.0,Manual 5-spd,Part-time 4-Wheel Drive,Small Pickup Trucks 4WD,Regular,17.347895,17,22,19,467.736842,1750
3590,Pontiac,Sunbird,1985,2.0,4.0,Manual 4-spd,Front-Wheel Drive,Compact Cars,Regular,13.184400,22,29,25,355.480000,1350
26682,BMW,435i xDrive Coupe,2014,3.0,6.0,Automatic (S8),All-Wheel Drive,Compact Cars,Premium,13.733750,20,30,24,375.000000,1700
14355,Dodge,Aries Wagon,1986,2.5,4.0,Automatic 3-spd,Front-Wheel Drive,Midsize-Large Station Wagons,Regular,15.695714,20,23,21,423.190476,1600
12363,GMC,Canyon 2WD,2005,3.5,5.0,Automatic 4-spd,Rear-Wheel Drive,Standard Pickup Trucks 2WD,Regular,18.311667,16,22,18,493.722222,1850
2689,Ford,Windstar FWD Wagon,1995,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Special Purpose Vehicles,Regular,17.347895,16,23,19,467.736842,1750
32783,Pontiac,Firefly,1989,1.0,3.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,8.039268,38,45,41,216.756098,800
5966,Toyota,Tacoma 4WD,1999,2.7,4.0,Manual 5-spd,4-Wheel or All-Wheel Drive,Standard Pickup Trucks 4WD,Regular,19.388824,16,20,17,522.764706,1950
21383,Mazda,Tribute FWD,2010,2.5,4.0,Automatic 6-spd,Front-Wheel Drive,Sport Utility Vehicle - 2WD,Regular,14.330870,21,28,23,386.391304,1450
21118,Mazda,RX-7,1987,1.3,2.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,18.311667,15,22,18,493.722222,1850
11451,Infiniti,QX56 4WD,2004,5.6,8.0,Automatic 5-spd,4-Wheel or All-Wheel Drive,Sport Utility Vehicle - 4WD,Regular,23.543571,12,17,14,634.785714,2400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26566,Subaru,Impreza AWD,2014,2.0,4.0,Manual 5-spd,All-Wheel Drive,Compact Cars,Regular,11.771786,25,34,28,319.000000,1200
19006,Mazda,B2000/B2200 Pickup 2WD,1984,2.0,4.0,Manual 5-spd,2-Wheel Drive,Small Pickup Trucks 2WD,Regular,14.330870,21,26,23,386.391304,1450
13628,GMC,Canyon 4WD,2006,3.5,5.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,Standard Pickup Trucks 4WD,Regular,18.311667,16,20,18,493.722222,1850
6166,Kia,Sportage 4WD,1999,2.0,4.0,Manual 5-spd,4-Wheel or All-Wheel Drive,Sport Utility Vehicle - 4WD,Regular,17.347895,17,21,19,467.736842,1750
14796,Roush Performance,Stage 3 F-150 Supercab 2WD,2006,5.4,8.0,Automatic 4-spd,Rear-Wheel Drive,Standard Pickup Trucks 2WD,Premium,27.467500,11,14,12,740.583333,3400
7160,Ferrari,360 Modena/Spider,2001,3.6,8.0,Automatic (S6),Rear-Wheel Drive,Two Seaters,Premium,29.964545,10,15,11,807.909091,3700
31168,Ford,Bronco II 2WD,1987,2.9,6.0,Automatic 4-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,18.311667,15,22,18,493.722222,1850
7120,Ford,F150 Pickup 2WD CNG,2000,5.4,8.0,Automatic 4-spd,Rear-Wheel Drive,Standard Pickup Trucks 2WD,CNG,0.143077,11,15,13,545.348077,2350
20535,Subaru,Wagon 4WD,1986,1.8,4.0,Manual 5-spd,4-Wheel or All-Wheel Drive,Special Purpose Vehicles,Regular,14.330870,21,26,23,386.391304,1450
27079,Toyota,Prius c,2014,1.5,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,Regular,6.592200,53,46,50,178.000000,650
11204,Toyota,Tacoma 4WD,2004,3.4,6.0,Manual 5-spd,4-Wheel or All-Wheel Drive,Standard Pickup Trucks 4WD,Regular,20.600625,15,18,16,555.437500,2100
2307,Audi,A6 quattro Wagon,1995,2.8,6.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,Small Station Wagons,Regular,18.311667,16,20,18,493.722222,1850
24636,Chevrolet,Silverado K15 4WD,2013,4.3,6.0,Automatic 4-spd,4-Wheel Drive,Standard Pickup Trucks 4WD,Regular,21.974000,14,18,15,576.000000,2200
3120,Chevrolet,Lumina/Monte Carlo,1996,3.1,6.0,Automatic 4-spd,Front-Wheel Drive,Midsize Cars,Regular,15.695714,18,26,21,423.190476,1600
6698,Saturn,SW,2000,1.9,4.0,Manual 5-spd,Front-Wheel Drive,Small Station Wagons,Regular,12.207778,23,34,27,329.148148,1250
26706,Dodge,Charger SRT8,2014,6.4,8.0,Automatic 5-spd,Rear-Wheel Drive,Large Cars,Premium,19.388824,14,23,17,521.000000,2400
12679,Hyundai,Tucson 4WD,2005,2.0,4.0,Manual 5-spd,4-Wheel or All-Wheel Drive,Sport Utility Vehicle - 4WD,Regular,15.695714,19,24,21,423.190476,1600
2984,Buick,Skylark,1996,3.1,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Regular,15.695714,18,27,21,423.190476,1600
28356,MINI,Cooper (5-doors),2015,1.5,3.0,Manual 6-spd,Front-Wheel Drive,Subcompact Cars,Premium,9.988182,29,40,33,270.000000,1250
21917,Nissan,Cube,2010,1.8,4.0,Manual 6-spd,Front-Wheel Drive,Small Station Wagons,Regular,12.207778,25,30,27,329.148148,1250
32065,Isuzu,Pickup 2WD,1988,2.6,4.0,Manual 5-spd,Rear-Wheel Drive,Small Pickup Trucks,Regular,17.347895,17,22,19,467.736842,1750
13976,Subaru,Baja AWD,2006,2.5,4.0,Manual 5-spd,4-Wheel or All-Wheel Drive,Sport Utility Vehicle - 4WD,Premium,17.347895,17,23,19,467.736842,2150
15967,Mitsubishi,Raider Pickup 2WD,2008,3.7,6.0,Automatic 4-spd,Rear-Wheel Drive,Standard Pickup Trucks 2WD,Regular,19.388824,15,20,17,522.764706,1950
29749,Lexus,LX 570,2016,5.7,8.0,Automatic (S8),4-Wheel Drive,Standard Sport Utility Vehicle 4WD,Premium,21.974000,13,18,15,596.000000,2700
13487,Mazda,5,2006,2.3,4.0,Manual 5-spd,Front-Wheel Drive,Midsize Station Wagons,Regular,14.982273,19,25,22,403.954545,1500
2892,Ford,Probe,1996,2.0,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.184400,23,30,25,355.480000,1350
35029,Geo,Metro LSI Convertible,1991,1.0,3.0,Manual 5-spd,Front-Wheel Drive,Two Seaters,Regular,8.908378,34,41,37,240.189189,900
35837,Jeep,Comanche Pickup 2WD,1991,4.0,6.0,Manual 5-spd,Rear-Wheel Drive,Standard Pickup Trucks,Regular,19.388824,15,20,17,522.764706,1950
19915,Dodge,AW100/AW150 Ramcharger 4WD,1986,5.9,8.0,Automatic 3-spd,4-Wheel or All-Wheel Drive,Special Purpose Vehicles,Regular,32.961000,9,11,10,888.700000,3350
32657,Chevrolet,Camaro,1989,5.0,8.0,Manual 5-spd,Rear-Wheel Drive,Subcompact Cars,Regular,18.311667,15,23,18,493.722222,1850

## 173 Select Random Items

In [42]:
from random import choice

In [43]:
df = vehicles

In [48]:
# Example 1:
choice(df.year) # Choose a random year

2013

In [49]:
# Example 2:
choice(df.make) # Choose a random year

'Jaguar'

In [ ]:
# Example 3: Random item from a list

In [50]:
# Make a list of people
people = ['Steve','Stacy','Miller','Chris','Bill','Jack','Rayen','July','Robert','Paul','Sarah','Emily']

In [52]:
choice(people) # Choose a random name

'Rayen'

In [ ]:
# Example 4: Random numbers with and without replacement. [Sampling individual elements]

In [ ]:
## With replacement

In [62]:
N = 300 # Population size
n = 12  # Sample size wanted

In [64]:
np.random.seed(123) # Setting the random seed
np.random.choice(N, n) # Sampling is done with replacement by default

array([ 98, 230,  17,  83, 106, 123,  57, 214, 225,  96, 113, 126])

In [65]:
np.random.seed(123) # Setting the random seed
np.random.choice(N, n, replace = True) # Same as above.

array([ 98, 230,  17,  83, 106, 123,  57, 214, 225,  96, 113, 126])

In [ ]:
## Without replacement

In [66]:
N = 300 # Population size
n = 12  # Sample size wanted

In [68]:
np.random.seed(123) # Setting the random seed
np.random.choice(N, n, replace = False) # Same as above.

array([262, 114, 165, 278, 293, 169,  11, 235, 240, 206, 194, 223])

## 18 About Missing Values

### 181 Tell pandas to automatically identify missing values if it knows our missing value marker.

In [63]:
df1 = pd.read_csv('mydata.csv', index_col=0) # Read mydata.csv

In [64]:
df1

  first_name  last_name  age gender country math  english  computer
0      Jason     Miller   42      m     USA   45       45        55
1        999        999  999    999     999  999      999       999
2       Tina    Marteli   36      f   Italy    .      999       999
3       Jake       Chin   24      m   china   62       62        62
4        Amy          .   33      f     USA   73       73        70
5     Rachel      Loren   19      f      UK   85       85        85
6       Paul    MISSING  999      m     USA    .       68        90
7       Jack      Trump   42    999     USA   79       79        89
8     Robert      DNiro   36      m     USA   98       98        87
9     Manuel  Hernandez   38      m  Mexico   88       86        65

In [ ]:
#Example 1: Load mydata.csv while specifying “999” as missing value in all dataset

In [65]:
df2 = pd.read_csv('mydata.csv', na_values=['999'], index_col=0)

In [66]:
df2

  first_name  last_name   age gender country math  english  computer
0      Jason     Miller  42.0      m     USA   45     45.0      55.0
1        NaN        NaN   NaN    NaN     NaN  NaN      NaN       NaN
2       Tina    Marteli  36.0      f   Italy    .      NaN       NaN
3       Jake       Chin  24.0      m   china   62     62.0      62.0
4        Amy          .  33.0      f     USA   73     73.0      70.0
5     Rachel      Loren  19.0      f      UK   85     85.0      85.0
6       Paul    MISSING   NaN      m     USA    .     68.0      90.0
7       Jack      Trump  42.0    NaN     USA   79     79.0      89.0
8     Robert      DNiro  36.0      m     USA   98     98.0      87.0
9     Manuel  Hernandez  38.0      m  Mexico   88     86.0      65.0

In [ ]:
# Example 2: Load mydata.csv while specifying “999”, "." and “MISSING” as missing values.

In [67]:
df3 = pd.read_csv('mydata.csv', na_values=['999','.','MISSING'], index_col=0)

In [68]:
df3

  first_name  last_name   age gender country  math  english  computer
0      Jason     Miller  42.0      m     USA  45.0     45.0      55.0
1        NaN        NaN   NaN    NaN     NaN   NaN      NaN       NaN
2       Tina    Marteli  36.0      f   Italy   NaN      NaN       NaN
3       Jake       Chin  24.0      m   china  62.0     62.0      62.0
4        Amy        NaN  33.0      f     USA  73.0     73.0      70.0
5     Rachel      Loren  19.0      f      UK  85.0     85.0      85.0
6       Paul        NaN   NaN      m     USA   NaN     68.0      90.0
7       Jack      Trump  42.0    NaN     USA  79.0     79.0      89.0
8     Robert      DNiro  36.0      m     USA  98.0     98.0      87.0
9     Manuel  Hernandez  38.0      m  Mexico  88.0     86.0      65.0

In [ ]:
# Example 3: Another way for Example 2 but being more specific by columns.

In [86]:
miss = {'first_name':['999'],'last_name': ['999','.', 'MISSING'], 'age': ['999'],'gender': ['999'],'country': ['999'],'math': ['999','.'],'english': ['999'],'computer': ['999'] }

In [90]:
df4 = pd.read_csv('mydata.csv', na_values=miss)

In [88]:
df4

,Unnamed: 0,first_name,last_name,age,gender,country,math,english,computer
0,0,Jason,Miller,42.0,m,USA,45.0,45.0,55.0
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Tina,Marteli,36.0,f,Italy,NaN,NaN,NaN
3,3,Jake,Chin,24.0,m,china,62.0,62.0,62.0
4,4,Amy,NaN,33.0,f,USA,73.0,73.0,70.0
5,5,Rachel,Loren,19.0,f,UK,85.0,85.0,85.0
6,6,Paul,NaN,NaN,m,USA,NaN,68.0,90.0
7,7,Jack,Trump,42.0,NaN,USA,79.0,79.0,89.0
8,8,Robert,DNiro,36.0,m,USA,98.0,98.0,87.0
9,9,Manuel,Hernandez,38.0,m,Mexico,88.0,86.0,65.0

### 182 File without missing observations

In [ ]:
We create the dataset obtained in df4 by ourselves. We will continue using this DataFrame for now on.

In [69]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'], columns=['one', 'two', 'three'])
df['four'] = 'bar'
df['five'] = df['one'] > 0 
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
df.loc['c','four'] = np.nan
df.loc['c','five'] = np.nan
df['six'] = ['k','w','w','k','w','w','k','k']
df

        one       two     three four   five six
a -0.923035 -1.948966  0.715540  bar  False   k
b       NaN       NaN       NaN  NaN    NaN   w
c -1.452250 -0.247665  1.465258  NaN    NaN   w
d       NaN       NaN       NaN  NaN    NaN   k
e -0.721987  0.305721 -0.897049  bar  False   w
f -1.138074 -0.426565  0.094884  bar  False   w
g       NaN       NaN       NaN  NaN    NaN   k
h  0.431828 -0.100171 -0.654889  bar   True   k

In [71]:
df2 = df

In [72]:
df_NoMiss = df2.dropna() # Get file without missing observations
df_NoMiss

        one       two     three four   five six
a -0.923035 -1.948966  0.715540  bar  False   k
e -0.721987  0.305721 -0.897049  bar  False   w
f -1.138074 -0.426565  0.094884  bar  False   w
h  0.431828 -0.100171 -0.654889  bar   True   k

### 183 Fill in missing data with zeros

In [73]:
df2 = df

In [74]:
df2.fillna(0)

        one       two     three four   five six
a -0.923035 -1.948966  0.715540  bar  False   k
b  0.000000  0.000000  0.000000    0      0   w
c -1.452250 -0.247665  1.465258    0      0   w
d  0.000000  0.000000  0.000000    0      0   k
e -0.721987  0.305721 -0.897049  bar  False   w
f -1.138074 -0.426565  0.094884  bar  False   w
g  0.000000  0.000000  0.000000    0      0   k
h  0.431828 -0.100171 -0.654889  bar   True   k

### 184 Tell pandas to look for rows with missing values

In [75]:
df2 = df

In [76]:
df2[(df2['one'].isnull()) |
              (df2['two'].isnull()) |
              (df2['three'].isnull()) |
              (df2['four'].isnull()) |
              (df2['five'].isnull()) |  
              (df2['six'].isnull())]

       one       two     three four five six
b      NaN       NaN       NaN  NaN  NaN   w
c -1.45225 -0.247665  1.465258  NaN  NaN   w
d      NaN       NaN       NaN  NaN  NaN   k
g      NaN       NaN       NaN  NaN  NaN   k

### 185 Add new column full of missing values

In [77]:
df2 = df

In [78]:
df2['seven'] = np.nan
df2

        one       two     three four   five six  seven
a -0.923035 -1.948966  0.715540  bar  False   k    NaN
b       NaN       NaN       NaN  NaN    NaN   w    NaN
c -1.452250 -0.247665  1.465258  NaN    NaN   w    NaN
d       NaN       NaN       NaN  NaN    NaN   k    NaN
e -0.721987  0.305721 -0.897049  bar  False   w    NaN
f -1.138074 -0.426565  0.094884  bar  False   w    NaN
g       NaN       NaN       NaN  NaN    NaN   k    NaN
h  0.431828 -0.100171 -0.654889  bar   True   k    NaN

### 186 Drop rows where all cells are missing values

In [79]:
df2 = df

In [80]:
df2 = df2.dropna(how='all') # Alternatively, you can say how=’any’, where a row with any missing values will be dropped.
df2

        one       two     three four   five six  seven
a -0.923035 -1.948966  0.715540  bar  False   k    NaN
b       NaN       NaN       NaN  NaN    NaN   w    NaN
c -1.452250 -0.247665  1.465258  NaN    NaN   w    NaN
d       NaN       NaN       NaN  NaN    NaN   k    NaN
e -0.721987  0.305721 -0.897049  bar  False   w    NaN
f -1.138074 -0.426565  0.094884  bar  False   w    NaN
g       NaN       NaN       NaN  NaN    NaN   k    NaN
h  0.431828 -0.100171 -0.654889  bar   True   k    NaN

### 187 Drop column if they only contain missing values

In [23]:
df2 = df

In [81]:
df2['seven'] = np.nan
df2

        one       two     three four   five six  seven
a -0.923035 -1.948966  0.715540  bar  False   k    NaN
b       NaN       NaN       NaN  NaN    NaN   w    NaN
c -1.452250 -0.247665  1.465258  NaN    NaN   w    NaN
d       NaN       NaN       NaN  NaN    NaN   k    NaN
e -0.721987  0.305721 -0.897049  bar  False   w    NaN
f -1.138074 -0.426565  0.094884  bar  False   w    NaN
g       NaN       NaN       NaN  NaN    NaN   k    NaN
h  0.431828 -0.100171 -0.654889  bar   True   k    NaN

In [82]:
df3 = df2.dropna(axis=1, how='all') # Alternatively, you can say how=’any’, where a column with any missing values will be dropped.
df3

        one       two     three four   five six
a -0.923035 -1.948966  0.715540  bar  False   k
b       NaN       NaN       NaN  NaN    NaN   w
c -1.452250 -0.247665  1.465258  NaN    NaN   w
d       NaN       NaN       NaN  NaN    NaN   k
e -0.721987  0.305721 -0.897049  bar  False   w
f -1.138074 -0.426565  0.094884  bar  False   w
g       NaN       NaN       NaN  NaN    NaN   k
h  0.431828 -0.100171 -0.654889  bar   True   k

### 188 Drop rows that contain less than k (k<= number of columns) observations

In [83]:
df2 = df

In [84]:
df2.dropna(thresh=4)

        one       two     three four   five six  seven
a -0.923035 -1.948966  0.715540  bar  False   k    NaN
c -1.452250 -0.247665  1.465258  NaN    NaN   w    NaN
e -0.721987  0.305721 -0.897049  bar  False   w    NaN
f -1.138074 -0.426565  0.094884  bar  False   w    NaN
h  0.431828 -0.100171 -0.654889  bar   True   k    NaN

### 189 Apply per-column the mean of that columns and fill

In [85]:
df2 = df
df2

        one       two     three four   five six  seven
a -0.923035 -1.948966  0.715540  bar  False   k    NaN
b       NaN       NaN       NaN  NaN    NaN   w    NaN
c -1.452250 -0.247665  1.465258  NaN    NaN   w    NaN
d       NaN       NaN       NaN  NaN    NaN   k    NaN
e -0.721987  0.305721 -0.897049  bar  False   w    NaN
f -1.138074 -0.426565  0.094884  bar  False   w    NaN
g       NaN       NaN       NaN  NaN    NaN   k    NaN
h  0.431828 -0.100171 -0.654889  bar   True   k    NaN

In [86]:
df2 = df2.fillna(df.mean())
df2

        one       two     three four   five six  seven
a -0.923035 -1.948966  0.715540  bar  False   k    NaN
b -0.760704 -0.483529  0.144749  NaN   0.25   w    NaN
c -1.452250 -0.247665  1.465258  NaN   0.25   w    NaN
d -0.760704 -0.483529  0.144749  NaN   0.25   k    NaN
e -0.721987  0.305721 -0.897049  bar  False   w    NaN
f -1.138074 -0.426565  0.094884  bar  False   w    NaN
g -0.760704 -0.483529  0.144749  NaN   0.25   k    NaN
h  0.431828 -0.100171 -0.654889  bar   True   k    NaN

You can get a similar result using the function apply, but you can only apply this function to dataset where columns values are numerical.

Here it is an example:

In [87]:
df3 = pd.DataFrame(np.random.randn(10,3))
df3.iloc[3:5,0] = np.nan
df3.iloc[4:6,1] = np.nan
df3.iloc[5:8,2] = np.nan
df3

          0         1         2
0 -1.447927 -0.049295  0.425020
1  0.305165 -0.398248 -0.177690
2 -0.100311  0.035962 -0.369257
3       NaN -1.157211  1.434886
4       NaN       NaN  1.853796
5  0.131935       NaN       NaN
6  0.297847  2.202149       NaN
7  0.998167  0.486804       NaN
8  0.204737  0.031334 -0.922984
9 -0.976505 -0.846283  0.263474

In [88]:
df3.apply(lambda x: x.fillna(x.median()),axis=0)

          0         1         2
0 -1.447927 -0.049295  0.425020
1  0.305165 -0.398248 -0.177690
2 -0.100311  0.035962 -0.369257
3  0.168336 -1.157211  1.434886
4  0.168336 -0.008981  1.853796
5  0.131935 -0.008981  0.263474
6  0.297847  2.202149  0.263474
7  0.998167  0.486804  0.263474
8  0.204737  0.031334 -0.922984
9 -0.976505 -0.846283  0.263474

### 1810 To fill a particular column with missing values

In [94]:
df2 = df
df2

        one       two     three four   five six  seven
a -0.923035 -1.948966  0.715540  bar  False   k    NaN
b       NaN -0.247665       NaN  NaN    NaN   w    NaN
c -1.452250 -0.247665  1.465258  NaN    NaN   w    NaN
d       NaN -0.247665       NaN  NaN    NaN   k    NaN
e -0.721987  0.305721 -0.897049  bar  False   w    NaN
f -1.138074 -0.426565  0.094884  bar  False   w    NaN
g       NaN -0.247665       NaN  NaN    NaN   k    NaN
h  0.431828 -0.100171 -0.654889  bar   True   k    NaN

In [90]:
df2 ['two'] = df2 ['two'].fillna(df2 ['two'].median())
df2

        one       two     three four   five six  seven
a -0.923035 -1.948966  0.715540  bar  False   k    NaN
b       NaN -0.247665       NaN  NaN    NaN   w    NaN
c -1.452250 -0.247665  1.465258  NaN    NaN   w    NaN
d       NaN -0.247665       NaN  NaN    NaN   k    NaN
e -0.721987  0.305721 -0.897049  bar  False   w    NaN
f -1.138074 -0.426565  0.094884  bar  False   w    NaN
g       NaN -0.247665       NaN  NaN    NaN   k    NaN
h  0.431828 -0.100171 -0.654889  bar   True   k    NaN

### 1811 Fill in missing in column 'two' with each column six’s mean value of 'two'

In [96]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'], columns=['one', 'two', 'three'])
df['four'] = 'bar'
df['five'] = df['one'] > 0 
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
df.loc['c','four'] = np.nan
df.loc['c','five'] = np.nan
df['six'] = ['k','w','w','k','w','w','k','k']
df2['seven'] = np.nan

In [97]:
df2 = df
df2

        one       two     three four   five six
a  2.324619  1.123777 -0.615024  bar   True   k
b       NaN       NaN       NaN  NaN    NaN   w
c -1.486051 -0.331398 -0.007233  NaN    NaN   w
d       NaN       NaN       NaN  NaN    NaN   k
e  0.319864  0.650842 -0.515728  bar   True   w
f -1.194325 -0.822278 -0.536021  bar  False   w
g       NaN       NaN       NaN  NaN    NaN   k
h -0.981931 -0.788250 -0.525157  bar  False   k

In [92]:
df2["two"].fillna(df2.groupby("six")["two"].transform("mean"), inplace=True)
df2

        one       two     three four   five six  seven
a -0.923035 -1.948966  0.715540  bar  False   k    NaN
b       NaN -0.247665       NaN  NaN    NaN   w    NaN
c -1.452250 -0.247665  1.465258  NaN    NaN   w    NaN
d       NaN -0.247665       NaN  NaN    NaN   k    NaN
e -0.721987  0.305721 -0.897049  bar  False   w    NaN
f -1.138074 -0.426565  0.094884  bar  False   w    NaN
g       NaN -0.247665       NaN  NaN    NaN   k    NaN
h  0.431828 -0.100171 -0.654889  bar   True   k    NaN

## 19 Sorting

### 191 Sorting the dataframe’s rows by one column's values

In [4]:
df = vehicles
df.head(2)

,make,model,year,displ,cylinders,trany,drive,VClass,fuelType,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
0,Alfa Romeo,Spider Veloce 2000,1985,2.0,4.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,15.695714,19,25,21,423.190476,1600
1,Ferrari,Testarossa,1985,4.9,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,29.964545,9,14,11,807.909091,3050

In [8]:
df.sort_values(by='make', ascending=0) # ascending = False is the same

,make,model,year,displ,cylinders,trany,drive,VClass,fuelType,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
27443,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
21784,smart,fortwo cabriolet,2010,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
24361,smart,fortwo coupe,2012,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,246.861111,1100
24362,smart,fortwo cabriolet,2012,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,246.861111,1100
24562,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
24563,smart,fortwo cabriolet,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
29609,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150
29608,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
22974,smart,fortwo coupe,2011,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
17923,smart,fortwo convertible,2009,1.0,3.0,Automatic (AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
22973,smart,fortwo cabriolet,2011,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
16657,smart,fortwo convertible,2008,1.0,3.0,Automatic (S5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
16658,smart,fortwo coupe,2008,1.0,3.0,Automatic (S5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
26884,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
26885,smart,fortwo cabriolet,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
21785,smart,fortwo coupe,2010,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
17924,smart,fortwo coupe,2009,1.0,3.0,Automatic (AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
27444,smart,fortwo cabriolet,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
34106,Yugo,GV Plus/GV/Cabrio,1990,1.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.184400,23,28,25,355.480000,1350
20772,Yugo,GV Plus/GV/Cabrio,1990,1.3,4.0,Manual 4-spd,Front-Wheel Drive,Minicompact Cars,Regular,14.330870,21,27,23,386.391304,1450
31576,Yugo,GV,1988,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.677308,24,29,26,341.807692,1300
31577,Yugo,GV,1988,1.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,23,27,24,370.291667,1400
8278,Yugo,Gy/yugo GVX,1986,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Minicompact Cars,Regular,13.184400,22,29,25,355.480000,1350
23693,Yugo,GV/GVX,1987,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.677308,24,29,26,341.807692,1300
32842,Yugo,GV/GVX,1989,1.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.184400,23,28,25,355.480000,1350
32841,Yugo,GV/GVX,1989,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.677308,24,29,26,341.807692,1300
36228,Wallace Environmental,Wetl 300 GE,1991,2.9,6.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,Special Purpose Vehicles,Premium,27.467500,11,13,12,740.583333,3400
35334,Wallace Environmental,Wetl 190E 2.3,1991,2.3,4.0,Manual 5-spd,Rear-Wheel Drive,Subcompact Cars,Premium,17.347895,17,22,19,467.736842,2150
35335,Wallace Environmental,Wetl 300 CE,1991,2.9,6.0,Automatic 4-spd,Rear-Wheel Drive,Subcompact Cars,Premium,21.974000,15,16,15,592.466667,2700
35063,Wallace Environmental,Wetl Testarossa,1991,4.9,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,29.964545,9,15,11,807.909091,3700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26773,Acura,TSX Wagon,2014,2.4,4.0,Automatic (S5),Front-Wheel Drive,Small Station Wagons,Premium,13.184400,22,30,25,358.000000,1600
14903,Acura,RL,2007,3.5,6.0,Automatic (S5),4-Wheel or All-Wheel Drive,Midsize Cars,Premium,17.347895,16,24,19,467.736842,2150
14904,Acura,TL,2007,3.2,6.0,Automatic (S5),Front-Wheel Drive,Midsize Cars,Premium,15.695714,18,26,21,423.190476,1950
27197,Acura,TSX,2011,3.5,6.0,Automatic (S5),Front-Wheel Drive,Compact Cars,Premium,14.330870,19,28,23,386.391304,1750
10587,Acura,TSX,2004,2.4,4.0,Automatic (S5),Front-Wheel Drive,Compact Cars,Premium,14.330870,20,29,23,386.391304,1750
24111,Acura,MDX 4WD,2012,3.7,6.0,Automatic (S6),All-Wheel Drive,Sport Utility Vehicle - 4WD,Premium,18.311667,16,21,18,493.722222,2250
31580,Acura,Legend,1988,2.7,6.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,17.347895,17,22,19,467.736842,1750
23962,Acura,TSX Wagon,2012,2.4,4.0,Automatic (S5),Front-Wheel Drive,Small Station Wagons,Premium,13.184400,22,30,25,355.480000,1600
17779,Acura,MDX 4WD,2009,3.7,6.0,Automatic (S5),4-Wheel or All-Wheel Drive,Sport Utility Vehicle - 4WD,Premium,19.388824,15,20,17,522.764706,2400
7991,Acura,MDX,2001,3.5,6.0,Automatic 5-spd,4-Wheel or All-Wheel Drive,Sport Utility Vehicle - 4WD,Premium,19.388824,15,21,17,522.764706,2400
27196,Acura,TSX,2011,2.4,4.0,Automatic (S5),Front-Wheel Drive,Compact Cars,Premium,12.677308,22,31,26,341.807692,1550
24060,Acura,RDX 2WD,2012,2.3,4.0,Automatic (S5),Front-Wheel Drive,Sport Utility Vehicle - 2WD,Premium,15.695714,19,24,21,423.190476,1950
1759,Acura,NSX,1995,3.0,6.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,18.311667,16,22,18,493.722222,2250
1758,Acura,NSX,1995,3.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Two Seaters,Premium,18.311667,16,22,18,493.722222,2250
24109,Acura,ZDX 4WD,2012,3.7,6.0,Automatic (S6),All-Wheel Drive,Sport Utility Vehicle - 4WD,Premium,17.347895,16,23,19,467.736842,2150
24110,Acura,RDX 4WD,2012,2.3,4.0,Automatic (S5),All-Wheel Drive,Sport Utility Vehicle - 4WD,Premium,17.347895,17,22,19,467.736842,2150
14046,Acura,TSX,2006,2.4,4.0,Automatic (S5),Front-Wheel Drive,Compact Cars,Premium,14.330870,20,28,23,386.391304,1750
27195,Acura,TSX,2011,2.4,4.0,Manual 6-spd,Front-Wheel Drive,Compact Cars,Premium,13.733750,21,29,24,370.291667,1700
10792,Acura,TL,2004,3.2,6.0,Automatic (S5),Front-Wheel Drive,Midsize Cars,Premium,15.695714,18,26,21,423.190476,1950
24244,Acura,RL,2012,3.7,6.0,Automatic (S6),All-Wheel Drive,Midsize Cars,Premium,16.480500,17,24,20,444.350000,2000
10791,Acura,TL,2004,3.2,6.0,Manual 6-spd,Front-Wheel Drive,Midsize Cars,Premium,15.695714,18,28,21,423.190476,1950
10790,Acura,3.5RL,2004,3.5,6.0,Automatic 4-spd,Front-Wheel Drive,Midsize Cars,Premium,18.311667,16,22,18,493.722222,2250
31579,Acura,Legend,1988,2.7,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Regular,18.311667,16,21,18,493.722222,1850
8148,Acura,NSX,2002,3.0,6.0,Automatic (S4),Rear-Wheel Drive,Two Seaters,Premium,18.311667,15,22,18,493.722222,2250
8149,Acura,NSX,2002,3.2,6.0,Manual 6-spd,Rear-Wheel Drive,Two Seaters,Premium,18.311667,15,22,18,493.722222,2250
25797,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
358,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
19314,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
19316,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
369,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550

In [9]:
df.sort_values(by='make', ascending=1) # ascending = True is the same

,make,model,year,displ,cylinders,trany,drive,VClass,fuelType,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
358,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
369,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
19314,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
19316,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
25797,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
24109,Acura,ZDX 4WD,2012,3.7,6.0,Automatic (S6),All-Wheel Drive,Sport Utility Vehicle - 4WD,Premium,17.347895,16,23,19,467.736842,2150
12039,Acura,TL,2005,3.2,6.0,Automatic (S5),Front-Wheel Drive,Midsize Cars,Premium,15.695714,18,26,21,423.190476,1950
6268,Acura,Integra,2000,1.8,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.330870,21,28,23,386.391304,1450
34108,Acura,Legend,1990,2.7,6.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,17.347895,17,22,19,467.736842,1750
3678,Acura,2.2CL/3.0CL,1997,2.2,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,26,22,403.954545,1500
28154,Acura,TLX AWD,2015,3.5,6.0,Automatic (S9),All-Wheel Drive,Compact Cars,Premium,13.184400,21,31,25,357.000000,1600
17879,Acura,TL 4WD,2009,3.7,6.0,Automatic (S5),4-Wheel or All-Wheel Drive,Midsize Cars,Premium,16.480500,17,25,20,444.350000,2000
17878,Acura,TL 2WD,2009,3.5,6.0,Automatic (S5),Front-Wheel Drive,Midsize Cars,Premium,15.695714,18,26,21,423.190476,1950
3675,Acura,Integra,1997,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Premium,13.184400,22,29,25,355.480000,1600
3676,Acura,Integra,1997,1.8,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,1400
3677,Acura,Integra,1997,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.184400,22,29,25,355.480000,1350
12038,Acura,TL,2005,3.2,6.0,Manual 6-spd,Front-Wheel Drive,Midsize Cars,Premium,15.695714,18,26,21,423.190476,1950
8232,Acura,RSX,2002,2.0,4.0,Automatic (S5),Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,30,24,370.291667,1400
36241,Acura,NSX,1992,3.0,6.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,17.347895,17,22,19,467.736842,2150
9588,Acura,3.2TL,2003,3.2,6.0,Automatic (S5),Front-Wheel Drive,Midsize Cars,Premium,15.695714,17,27,21,423.190476,1950
3681,Acura,2.2CL/3.0CL,1997,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,18,26,20,444.350000,1650
23726,Acura,Legend,1987,2.5,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Regular,17.347895,17,22,19,467.736842,1750
25904,Acura,ILX,2014,2.0,4.0,Automatic (S5),Front-Wheel Drive,Compact Cars,Premium,11.771786,24,35,28,318.000000,1450
25905,Acura,ILX,2014,2.4,4.0,Manual 6-spd,Front-Wheel Drive,Compact Cars,Premium,13.184400,22,31,25,361.000000,1600
21767,Acura,MDX 4WD,2010,3.7,6.0,Automatic (S6),All-Wheel Drive,Sport Utility Vehicle - 4WD,Premium,18.311667,16,21,18,493.722222,2250
5229,Acura,SLX,1998,3.5,6.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,Special Purpose Vehicle 4WD,Regular,21.974000,13,18,15,592.466667,2200
2972,Acura,2.5TL/3.2TL,1996,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,18,23,20,444.350000,2000
7483,Acura,3.2TL,2001,3.2,6.0,Automatic (S5),Front-Wheel Drive,Midsize Cars,Premium,16.480500,17,27,20,444.350000,2000
12037,Acura,RL,2005,3.5,6.0,Automatic (S5),4-Wheel or All-Wheel Drive,Midsize Cars,Premium,17.347895,16,24,19,467.736842,2150
25439,Acura,ILX,2013,2.4,4.0,Manual 6-spd,Front-Wheel Drive,Compact Cars,Premium,13.184400,22,31,25,361.000000,1600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20858,Wallace Environmental,Wetl 500 SEL,1992,5.6,8.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,25.354615,11,15,13,683.615385,3100
20842,Wallace Environmental,Wetl 500 SEC,1992,5.6,8.0,Automatic 4-spd,Rear-Wheel Drive,Compact Cars,Premium,25.354615,11,15,13,683.615385,3100
35738,Wallace Environmental,Wetl 300 TE,1991,2.9,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize-Large Station Wagons,Premium,21.974000,15,16,15,592.466667,2700
20843,Wallace Environmental,Wetl 560 SEC,1992,5.6,8.0,Automatic 4-spd,Rear-Wheel Drive,Compact Cars,Premium,25.354615,11,15,13,683.615385,3100
32842,Yugo,GV/GVX,1989,1.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.184400,23,28,25,355.480000,1350
32841,Yugo,GV/GVX,1989,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.677308,24,29,26,341.807692,1300
20772,Yugo,GV Plus/GV/Cabrio,1990,1.3,4.0,Manual 4-spd,Front-Wheel Drive,Minicompact Cars,Regular,14.330870,21,27,23,386.391304,1450
31576,Yugo,GV,1988,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.677308,24,29,26,341.807692,1300
31577,Yugo,GV,1988,1.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,23,27,24,370.291667,1400
23693,Yugo,GV/GVX,1987,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.677308,24,29,26,341.807692,1300
34106,Yugo,GV Plus/GV/Cabrio,1990,1.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.184400,23,28,25,355.480000,1350
8278,Yugo,Gy/yugo GVX,1986,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Minicompact Cars,Regular,13.184400,22,29,25,355.480000,1350
21785,smart,fortwo coupe,2010,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
21784,smart,fortwo cabriolet,2010,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
24563,smart,fortwo cabriolet,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
24562,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
29609,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150
22974,smart,fortwo coupe,2011,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
27444,smart,fortwo cabriolet,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
27443,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
29608,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
26884,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
24362,smart,fortwo cabriolet,2012,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,246.861111,1100
26885,smart,fortwo cabriolet,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
16657,smart,fortwo convertible,2008,1.0,3.0,Automatic (S5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
16658,smart,fortwo coupe,2008,1.0,3.0,Automatic (S5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
17924,smart,fortwo coupe,2009,1.0,3.0,Automatic (AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
17923,smart,fortwo convertible,2009,1.0,3.0,Automatic (AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
22973,smart,fortwo cabriolet,2011,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
24361,smart,fortwo coupe,2012,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,246.861111,1100

In [10]:
df.sort_values(by='make') # ascending = True or 1 is setting by default.

,make,model,year,displ,cylinders,trany,drive,VClass,fuelType,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
358,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
369,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
19314,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
19316,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
25797,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
24109,Acura,ZDX 4WD,2012,3.7,6.0,Automatic (S6),All-Wheel Drive,Sport Utility Vehicle - 4WD,Premium,17.347895,16,23,19,467.736842,2150
12039,Acura,TL,2005,3.2,6.0,Automatic (S5),Front-Wheel Drive,Midsize Cars,Premium,15.695714,18,26,21,423.190476,1950
6268,Acura,Integra,2000,1.8,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.330870,21,28,23,386.391304,1450
34108,Acura,Legend,1990,2.7,6.0,Manual 5-spd,Front-Wheel Drive,Compact Cars,Regular,17.347895,17,22,19,467.736842,1750
3678,Acura,2.2CL/3.0CL,1997,2.2,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,26,22,403.954545,1500
28154,Acura,TLX AWD,2015,3.5,6.0,Automatic (S9),All-Wheel Drive,Compact Cars,Premium,13.184400,21,31,25,357.000000,1600
17879,Acura,TL 4WD,2009,3.7,6.0,Automatic (S5),4-Wheel or All-Wheel Drive,Midsize Cars,Premium,16.480500,17,25,20,444.350000,2000
17878,Acura,TL 2WD,2009,3.5,6.0,Automatic (S5),Front-Wheel Drive,Midsize Cars,Premium,15.695714,18,26,21,423.190476,1950
3675,Acura,Integra,1997,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Premium,13.184400,22,29,25,355.480000,1600
3676,Acura,Integra,1997,1.8,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,1400
3677,Acura,Integra,1997,1.8,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.184400,22,29,25,355.480000,1350
12038,Acura,TL,2005,3.2,6.0,Manual 6-spd,Front-Wheel Drive,Midsize Cars,Premium,15.695714,18,26,21,423.190476,1950
8232,Acura,RSX,2002,2.0,4.0,Automatic (S5),Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,30,24,370.291667,1400
36241,Acura,NSX,1992,3.0,6.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,17.347895,17,22,19,467.736842,2150
9588,Acura,3.2TL,2003,3.2,6.0,Automatic (S5),Front-Wheel Drive,Midsize Cars,Premium,15.695714,17,27,21,423.190476,1950
3681,Acura,2.2CL/3.0CL,1997,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,18,26,20,444.350000,1650
23726,Acura,Legend,1987,2.5,6.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Regular,17.347895,17,22,19,467.736842,1750
25904,Acura,ILX,2014,2.0,4.0,Automatic (S5),Front-Wheel Drive,Compact Cars,Premium,11.771786,24,35,28,318.000000,1450
25905,Acura,ILX,2014,2.4,4.0,Manual 6-spd,Front-Wheel Drive,Compact Cars,Premium,13.184400,22,31,25,361.000000,1600
21767,Acura,MDX 4WD,2010,3.7,6.0,Automatic (S6),All-Wheel Drive,Sport Utility Vehicle - 4WD,Premium,18.311667,16,21,18,493.722222,2250
5229,Acura,SLX,1998,3.5,6.0,Automatic 4-spd,4-Wheel or All-Wheel Drive,Special Purpose Vehicle 4WD,Regular,21.974000,13,18,15,592.466667,2200
2972,Acura,2.5TL/3.2TL,1996,2.5,5.0,Automatic 4-spd,Front-Wheel Drive,Compact Cars,Premium,16.480500,18,23,20,444.350000,2000
7483,Acura,3.2TL,2001,3.2,6.0,Automatic (S5),Front-Wheel Drive,Midsize Cars,Premium,16.480500,17,27,20,444.350000,2000
12037,Acura,RL,2005,3.5,6.0,Automatic (S5),4-Wheel or All-Wheel Drive,Midsize Cars,Premium,17.347895,16,24,19,467.736842,2150
25439,Acura,ILX,2013,2.4,4.0,Manual 6-spd,Front-Wheel Drive,Compact Cars,Premium,13.184400,22,31,25,361.000000,1600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20858,Wallace Environmental,Wetl 500 SEL,1992,5.6,8.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,25.354615,11,15,13,683.615385,3100
20842,Wallace Environmental,Wetl 500 SEC,1992,5.6,8.0,Automatic 4-spd,Rear-Wheel Drive,Compact Cars,Premium,25.354615,11,15,13,683.615385,3100
35738,Wallace Environmental,Wetl 300 TE,1991,2.9,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize-Large Station Wagons,Premium,21.974000,15,16,15,592.466667,2700
20843,Wallace Environmental,Wetl 560 SEC,1992,5.6,8.0,Automatic 4-spd,Rear-Wheel Drive,Compact Cars,Premium,25.354615,11,15,13,683.615385,3100
32842,Yugo,GV/GVX,1989,1.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.184400,23,28,25,355.480000,1350
32841,Yugo,GV/GVX,1989,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.677308,24,29,26,341.807692,1300
20772,Yugo,GV Plus/GV/Cabrio,1990,1.3,4.0,Manual 4-spd,Front-Wheel Drive,Minicompact Cars,Regular,14.330870,21,27,23,386.391304,1450
31576,Yugo,GV,1988,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.677308,24,29,26,341.807692,1300
31577,Yugo,GV,1988,1.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,23,27,24,370.291667,1400
23693,Yugo,GV/GVX,1987,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,12.677308,24,29,26,341.807692,1300
34106,Yugo,GV Plus/GV/Cabrio,1990,1.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.184400,23,28,25,355.480000,1350
8278,Yugo,Gy/yugo GVX,1986,1.1,4.0,Manual 4-spd,Front-Wheel Drive,Minicompact Cars,Regular,13.184400,22,29,25,355.480000,1350
21785,smart,fortwo coupe,2010,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
21784,smart,fortwo cabriolet,2010,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
24563,smart,fortwo cabriolet,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
24562,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
29609,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150
22974,smart,fortwo coupe,2011,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
27444,smart,fortwo cabriolet,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
27443,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
29608,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
26884,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
24362,smart,fortwo cabriolet,2012,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,246.861111,1100
26885,smart,fortwo cabriolet,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
16657,smart,fortwo convertible,2008,1.0,3.0,Automatic (S5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
16658,smart,fortwo coupe,2008,1.0,3.0,Automatic (S5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
17924,smart,fortwo coupe,2009,1.0,3.0,Automatic (AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
17923,smart,fortwo convertible,2009,1.0,3.0,Automatic (AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
22973,smart,fortwo cabriolet,2011,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,33,41,36,246.861111,1100
24361,smart,fortwo coupe,2012,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,246.861111,1100

In [12]:
df.sort_values(by='make', ascending=True,inplace = True)
df.head(5)

,make,model,year,displ,cylinders,trany,drive,VClass,fuelType,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
358,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
369,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
19314,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
19316,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
25797,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

### 192 Sorting the dataframe’s rows by two or more column's values

In [13]:
df = vehicles
df.head(2)

,make,model,year,displ,cylinders,trany,drive,VClass,fuelType,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
358,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
369,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550

In [20]:
df.sort_values(by=['make','city08'], ascending= [True,False], inplace = True)
df.head(5)

,make,model,year,displ,cylinders,trany,drive,VClass,fuelType,barrels08,city08,highway08,comb08,co2TailpipeGpm,fuelCost08
19316,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
358,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
369,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
19314,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
25797,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

### 193 Sorting series list

In [ ]:
df = vehicles

In [25]:
# Example 1:  Sort ascending.
df.city08.sort_values().head(5) # ascending = True is setting by default.

32586    6
33860    6
21060    6
31336    6
7901     6
Name: city08, dtype: int64

In [22]:
df['city08'].sort_values().head(5) # It is the same that above.

32586    6
33860    6
21060    6
31336    6
7901     6
Name: city08, dtype: int64

In [26]:
df['city08'].sort_values(ascending = True).head(5) # It is the same that above.

32586    6
33860    6
21060    6
31336    6
7901     6
Name: city08, dtype: int64

In [28]:
# Example 2:  Sort descending.
df.city08.sort_values(ascending = False).head(5) # ascending = True is setting by default.

29858    58
29857    54
25626    53
27079    53
29778    53
Name: city08, dtype: int64

In [29]:
df['city08'].sort_values(ascending = False).head(5) # It is the same that above.

29858    58
29857    54
25626    53
27079    53
29778    53
Name: city08, dtype: int64

<hr>
    By: Hector Alvaro Rojas &nbsp;&nbsp;|&nbsp;&nbsp; Data Science, Visualizations and Applied Statistics &nbsp;&nbsp;|&nbsp;&nbsp; January 06, 2018<br>
    Url: [http://www.arqmain.net]   &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;   GitHub: [https://github.com/arqmain]